<!-- 主導覽： NAV_CSS + NAV第一層template + backdrop Ele -->
<%- include('../../wedgets/header.ejs') %>

<body>
  <%- include('../../wedgets/pageLoading.ejs') %>
  <%- include('../../wedgets/navbar.ejs') %>
  <!-- MAIN -->
  <main class="container-md" style="display: none;">
    <!-- 使用者資訊 + 文章列表 -->
    <div class="row">
      <div class="col-md-8">
        <!-- User container -->
        <div class="userInfo">
          <div class="card">
            <div class="row align-items-center justify-content-center">
              <div class="col-sm-4">
                <div class="avatar-box">
                  <div class="ratio ratio-1x1">
                    <img src="<%%= currentUser.avatar %>" class="img-fluid" alt="...">
                  </div>
                  <%% if(!isSelf){ %>
                  <button id="cancelFollow" type="button" class="btn btn-danger btn-sm follow">取消追蹤</button>
                  <button id="follow" type="button" class="btn btn-success btn-sm follow">追蹤</button>
                  <%% } %>
                </div>

              </div>
              <div class="col-sm-8">
                <div class="card-body">
                  <h5 class="card-title">主要資料</h5>
                  <hr>
                  <p>信箱： <%%= currentUser.email %>
                  </p>
                  <p>暱稱： <%%= currentUser.nickname %>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Blog container -->
        <div class="blogs-container">
          <!-- create Blog Modal -->
          <%% if(isSelf){ %>
          <!-- Button for Modal -->
          <button type="button" class="btn btn-primary mb-1" data-bs-toggle="modal" data-bs-target="#new_blog_modal">
            撰寫新文章
          </button>
          <!-- Modal -->
          <div class="modal fade" tabindex="-1" aria-labelledby="newBlogModalLabel" aria-hidden="true" id="new_blog_modal">
            <div class="modal-dialog">
              <div class="modal-content">

                <div class="modal-body">
                  <div class="mb-3">
                    <label for="new_blog_title" class="form-label">文章標題</label>
                    <input type="text" name="title" class="form-control" id="new_blog_title" placeholder="文章標題">
                    <div>&nbsp;</div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消建立文章</button>
                  <button id="new_blog" type="button" class="btn btn-primary">建立文章</button>
                </div>
              </div>
            </div>
          </div>
          <%% } %>
          <!-- BlogList -->
          <%- include('components/blog_card') %>
        </div>
      </div>
      <hr class="d-md-none">
      <div class="col-md-4">
        <%- include('components/relationship_list') %>
      </div>
    </div>
    <!-- EJS DATA -->
    <%- include('../../wedgets/ejs-data-list') %>
  </main>
  <!-- FOOTER -->
  <%- include('../../wedgets/footer') %>
  <%- include('../../wedgets/cdn') %>
</body>

</html>