<% let G_DATA = JSON.parse(--CONS.SERVER.BLOG--) %>
<% let G_PAGE = JSON.parse(--CONS.PAGE.USER--) %>
<!-- 主導覽： NAV_CSS + NAV第一層template + backdrop Ele -->
<%- include('../../wedgets/header.ejs') %>

<body>
  <%- include('../../wedgets/pageLoading.ejs') %>
  <%- include('../../wedgets/navbar.ejs') %>
  <!-- MAIN -->
  <main class="container-md" style="display: none;">
    <h1><a href="/other/<%=author.id%>"><%=author.nickname%></a>的相簿列表</h1>
    <% for( let status in album){ %>
    <%- include('./components/blogList.ejs') %>
    <% } %>
    <!-- EJS DATA -->
    <%- include('../../wedgets/ejs-data-list') %>
  </main>
  <!-- FOOTER -->
  <%- include('../../wedgets/footer.ejs') %>
  <%- include('../../wedgets/cdn') %>
</body>

</html>