<!-- 主導覽： NAV_CSS + NAV第一層template + backdrop Ele -->
<%- include('../../wedgets/header.ejs') %>

<body>
  <%- include('../../wedgets/pageLoading.ejs') %>
  <%- include('../../wedgets/navbar.ejs') %>
  <!-- MAIN -->
  <main class="container-md main" style="display: none;">
    <h1>文章列表</h1>
    <%% if(blogs.length){ %>
    <ul class="list-group">
      <%% blogs.forEach( ({ id, title, author, time }) => { %>
      <li class="list-group-item">
        <a href="/blog/<%%= id %>"><%%= title %></a>
        <span>by<a href="/other/<%%= author.id %>"><%%= author.nickname %></a></span>
        <span>公開於<%%= time %></span>
      </li>
      <%% }) %>
    </ul>
    <%% } else { %>
    <p>沒有任何文章</p>
    <%% } %>
    </div>
  </main>
  <!-- EJS DATA -->
  <%- include('../../wedgets/ejs-data-list') %>
  <!-- FOOTER -->
  <%- include('../../wedgets/footer.ejs') %>
  <%- include('../../wedgets/cdn') %>
</body>

</html>