<%- include('wedgets/common/header') %>
<body>
    <style>
        body {
            padding: 0;
            margin: 0;
        }

        #showBox {
            position: relative;
            z-index: 1010;
        }

        #backdrop {
            position: fixed;
            z-index: 1000;
            /* height: 100%;
            width: 100%; */
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background: rgba(200, 200, 200, 0.5);
        }

        #editor-container {
            height: 400px;
            min-height: 300px;
        }
    </style>
    <%- include('wedgets/navbar/index') %>
    <div class="container">
        <div id='backdrop' class="<%= blog.title ? 'my-noshow' : 'my-show' %>"></div>
        <div id="showBox">
            <input type="text" id="title" value="<%= blog.title %>">
            <button id="updateTitle" class="<%= blog.title ? 'my-show' : 'my-noshow' %>">修改標題</button>
            <button id="createBlog" class="<%= blog.title ? 'my-noshow' : 'my-show' %>">創建BLOG</button>
        </div>
        <div id="editor-wrapper">
            <div id="toolbar-container"></div>
            <div id="editor-container"></div>
        </div>
        <input type="checkbox" name="" id="show" <%= blog.show ? 'checked' : '' %> />公開文章
        <% if (blog.show) { %>
        <p>已於 <%= blog.showAt %> 發佈</p>
        <% } %>

        <button id="save">存檔</button>
        <button id="remove">刪除此篇文章</button>
    </div>

    <!-- 
        取得由 JSON.stringify(data) 轉譯過的純跳脫字符，
        如 { html: `<p>56871139</p>`}
            無轉譯 => { "html":"<p>56871139</p>") 會造成<p>直接渲染至頁面
            轉譯 => {&#34;html&#34;:&#34;&lt;p&gt;56871139&lt}
    -->
    <div id="data_blog" style="display: none">
        <%= JSON.stringify(locals.blog) %>
    </div>

    <%- include('wedgets/cdn') %>
    <!-- 引入 editor css -->
    <link href="https://cdn.jsdelivr.net/npm/@wangeditor/editor@latest/dist/css/style.css" rel="stylesheet">
    <!-- 引入 editor js -->
    <script src="https://cdn.jsdelivr.net/npm/@wangeditor/editor@latest/dist/index.min.js"></script>
    <!-- 引入 Spark-MD5 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/spark-md5/3.0.2/spark-md5.min.js"></script>

    <script src="https://rawgit.com/leizongmin/js-xss/master/dist/xss.js"></script>
    <script>
        $(function () {

            let api_uploadImg = '/api/editor/img'
            let api_blog = '/api/editor/'
            //  提供給後端更改前，用來驗證的資料
            let patchData = {}

            //  定義 JQobj
            let $btn_updateTitle = $('#updateTitle')
            let $btn_createBlog = $('#createBlog')
            let $backdrop = $('#backdrop')
            let $title = $('#title')
            let $checkbox_show = $('#show')
            let $save = $('#save')
            let $remove = $('#remove')

            //  初始化editor
            let editor = init_editor()

            //  input#title 綁定 blur handle => 驗證新標題
            $title.on('blur', handle_valicate_title)

            //  btn#createBlog 綁定 click handle => 創建 blog
            $btn_createBlog.click(handle_createBlog)

            //  btn#updateTitle 綁定 click handle => 修改 blog title
            $btn_updateTitle.click(handle_updateTitle)

            //  input#show 綁定 change handle => 修改 blog show 狀態
            $checkbox_show.on('change', handle_isShowBlog)

            //  btn#save 綁定 click handle => 存檔 blog
            $save.on('click', handle_saveBlog)

            //  btn#remove 綁定 click handle => 刪除 blog
            $remove.on('click', handle_removeBlog)

            //  handle => 刪除 blog
            async function handle_removeBlog(e) {
                if (!confirm('真的要刪掉?')) {
                    return
                }

                let { id } = window.data.blog

                const {
                    data: {
                        errno, data, msg
                    }
                } = await axios.delete(api_blog, { data: { id } })

                if (!errno) {
                    alert('已成功刪除此篇文章')
                    location.href = '/self'
                } else {
                    alert(msg)
                }
            }

            //  handle => 儲存 blog
            async function handle_saveBlog(e) {
                let { id, title, imgs, show, showAt, html} = window.data.blog
                //  要傳給後端更新的資料
                let payload = {}

                //  若title有新值，且未更新
                let newTitle = my_xss($title.val().trim())
                if (title !== newTitle) {
                    payload.title = newTitle
                }

                //  獲取 html
                let html_editor = my_xss(window.editor.getHtml().trim())

                if (html !== html_editor) {
                    //  若 editor 的 html 若有變化，提供給後端
                    payload.html = html_editor
                }

                //  撈出 editor 內的圖片url
                let editorImgs = window.editor.getElemsByType('image').map(({ src }) => src)
                editorImgs = [...new Set(editorImgs)]

                /*  篩出要取消關聯的 img  */
                let removeImgs = imgs.filter(item => {
                    let { blogImg_id, url } = item
                    return !editorImgs.includes(url)
                })

                if (removeImgs.length) {
                    removeImgs = removeImgs.map(({ blogImg_id }) => blogImg_id)
                    payload.removeImgs = removeImgs
                }

                //  整理要提供給後端的 show 值
                if (show !== patchData.show) {
                    /* 設定的show 與 當前blog.show 不同 */

                    if (showAt === null && patchData.show) {
                        //  初次發佈
                        payload.show = 1
                    } else if (showAt && !patchData.show) {
                        //  發後隱藏
                        payload.show = 2
                    } else if (showAt && patchData.show) {
                        //  發後隱藏，隱後再發
                        payload.show = 3
                    }
                }

                if (!payload.show && !payload.html && !payload.title) {
                    alert('沒變動，別亂好嗎?')
                    return
                }

                payload.id = id

                const {
                    data: {
                        errno, data, msg
                    }
                } = await axios.patch(api_blog, payload)

                if (!errno) {
                    if (removeImgs) {
                        //  同步 window.blog.imgs 與 window.editor.image
                        window.data.blog.imgs = imgs.filter(({ blogImg_id }) => {
                            return !removeImgs.includes(blogImg_id)
                        })
                    }

                    if (data.title) {
                        //  同步 window.blog.title 與 資料庫title
                        $title.val(data.title)
                        $btn_updateTitle.prop('disabled', true)
                    }

                    //  同步 window.blog 與 資料庫
                    window.data.blog = { ...window.data.blog, ...data }

                    alert('blog save success!')
                } else {
                    alert('blog save error!')
                }
            }

            //  handle => 修改 blog show 狀態
            function handle_isShowBlog(e) {
                patchData.show = e.target.checked
            }

            //  handle => 修改 title
            async function handle_updateTitle(e) {
                let newTitle = $title.val().trim()
                let { title: oldTitle, id } = window.data.blog

                let payload = { title: newTitle, id }

                const {
                    data: {
                        errno, data, msg
                    }
                } = await axios.patch(api_blog, payload)

                if (!errno) {
                    /* title修改成功 */
                    window.data.blog.title = newTitle

                    $btn_updateTitle.prop('disabled', true)
                    window.editor.focus(true)

                    alert('標題修改完成')
                } else {
                    /* title修改失敗 */
                    alert(`標題修改失敗 => ${msg.message}`)
                }
                return
            }

            //  handle => 創建 blog，成功後，為 input#title 綁定 input handle => 驗證新標題
            async function handle_createBlog(e) {
                let title = $title.val().trim()

                const {
                    data: {
                        errno, data, msg
                    }
                } = await axios.post(api_blog, { title })

                if (!errno) {
                    alert('BLOG創立完成')
                    document.title = '撰寫文章'

                    window.data.blog = {
                        ...window.data.blog,
                        ...data    //  { id, title, html, show, showAt, createdAt, updatedAt }
                    }

                    $title.on('input', handle_valicate_title)

                    $btn_createBlog.toggleClass(['my-show', 'my-noshow'])
                    $btn_updateTitle.toggleClass(['my-show', 'my-noshow']).prop('disabled', true)
                    $backdrop.toggle(false)

                    window.editor.enable()
                    window.editor.focus(true)

                    // location.href = `/blog/edit/${data.id}`
                } else {
                    alert(`BLOG創立失敗 => ${msg.message}`)
                    console.log(msg.stack)
                }
            }

            // handle => 驗證新標題
            function handle_valicate_title(e) {
                let newTitle = $title.val().trim()
                let { title: oldTitle } = window.data.blog

                if (e.type === 'blur') {
                    /* blur 時的標題驗證 */
                    if (!oldTitle && !newTitle) {
                        //  未建立blog 且 標題又為空
                        alert('請先寫入標題')
                    } else if (oldTitle && !newTitle) {
                        //  已建立blog 且 標題為空
                        $title.val(oldTitle)
                    }
                } else if (e.type === 'input') {
                    /* input 時的標題驗證，且 input handle 是在 oldTitle 有值後才綁定的*/
                    if (!!newTitle && oldTitle !== newTitle) {
                        //  標題有值 且 新舊標題不相同
                        $btn_updateTitle.prop('disabled', false)
                    } else {
                        $btn_updateTitle.prop('disabled', true)
                    }
                }
                return
            }

            //  初始化 editor
            function init_editor() {
                //  editor 的 繁中設定
                wangEditor.i18nAddResources('tw', {
                    // 标题
                    header: {
                        title: '標題',
                        text: '文字',
                    },
                    blockQuote: {
                        title: '圖標'
                    },

                    // ... 其他语言词汇，下文说明 ...
                })
                wangEditor.i18nChangeLanguage('tw')

                //  editor config
                const { createEditor, createToolbar } = window.wangEditor
                const editorConfig = { MENU_CONF: {} }

                //  editor config : placeholder
                editorConfig.placeholder = '请输入内容'

                //  editor config : image upload
                editorConfig.MENU_CONF['uploadImage'] = {
                    // 上传图片的配置

                    //  自定義 upload imgage
                    customUpload,

                    //  (待補)自定義 upload imgage 失敗
                }

                // editor 創建
                const editor = createEditor({
                    //  插入後端取得的 html
                    html: window.data.blog.html || '',
                    selector: '#editor-container',
                    config: editorConfig,
                    mode: 'simple'
                })

                // editor 工具欄創建
                const toolbar = createToolbar({
                    editor,
                    selector: '#toolbar-container',
                    mode: 'simple'
                })

                
                !window.data.blog.title
                    && editor.disable()     //  若是撰寫新文章，必須等標題創建好才能編寫
                    || editor.focus(true)   //  若是撰寫舊新文章，自動聚焦在文章末段

                window.editor = editor
            }

            //  editor的 自定義上傳圖片方法
            async function customUpload(img, insertFn) {
                let reg_ext = /.+\.(.*)$/

                //  校驗檔案格式(jpg png)
                let ext = reg_ext.exec(img.name)[1]
                ext = ext.toLowerCase().trim()
                if (ext !== 'jpg' && ext !== 'png') {
                    resetPayload()
                    alert('只能傳jpg跟png啦!')
                    return
                }
                
                //  生成 img 的 hash(hex格式)
                let { url, hash } = await _getImgHash(img)

                if (!url) {
                    /*  url無值，代表 window.blog.imgs 內無此圖 */

                    let { id } = window.data.blog
                    let api = `${api_uploadImg}?blog_id=${id}&hash=${hash}&ext=${ext}`
                    //  upload img
                    let formdata = new FormData()
                    formdata.append('blogImg', img)

                    //  發送ajax，由後端將圖片上傳給GCS
                    let {
                        data: {
                            errno, data, msg
                        }
                    } = await axios.post(api, formdata)

                    if (!errno) {
                        /* 上傳成功 */

                        //  data { blogImg_id, id, name, url, hash }
                        window.data.blog.imgs.push(data)
                        //  將圖片插入 editor
                        insertFn(data.url)
                    } else {
                        //  上傳失敗
                        alert(msg)
                    }
                } else {
                    /*  url 有值，代表 blog.imgs 已有此圖 */

                    //  直接插入圖片
                    insertFn(url)
                }
            }

            //  取得圖片的 hash
            async function _getImgHash(img) {

                //  計算出 img 的 md5Hash(hex格式)
                let md5hash = await _getMD5Hash(img)
                let res = { hash: md5hash }

                let imgs = window.data.blog.imgs
                if (imgs.length) {  //  若blog.imgs有檔案
                    //  比對 blog 內是否已有該 img
                    let exist = imgs.some((img) => {
                        let { hash } = img
                        //  同hash，代表同img
                        if (md5hash === hash) {
                            //  返回 blog.imgs 內相同的img資料
                            return res = img
                        }
                    })
                }
                return res
            }

            //  返回 file 的 FileReader.result
            function _getMD5Hash(file) {
                return new Promise((resolve, reject) => {
                    let fr = new FileReader()
                    fr.addEventListener('load', (evt) => {
                        if (fr.readyState === FileReader.DONE) {
                            let hash = SparkMD5.ArrayBuffer.hash(fr.result)
                            console.log('計算出的hash => ', hash)
                            resolve(hash)
                        }
                    })
                    fr.addEventListener('error', (error) => {
                        console.log('fr load 發生錯誤 => ', error)
                        reject(error)
                    })
                    fr.readAsArrayBuffer(file)
                })
            }

            function my_xss(html) {
                return filterXSS(html, {
                    onIgnoreTagAttr: function (tag, name, value, isWhiteAttr) {
                        let attr = name.substr(0, 5)
                        if (attr === "data-" || attr === 'style') {
                            // 通过内置的escapeAttrValue函数来对属性值进行转义
                            return `${name}="${filterXSS.escapeAttrValue(value)}"`;
                        }
                    }
                })
            }
        })    
    </script>
</body>

</html>