<!-- favicon + MY_CSS + BS5_CSS -->
<%- include('wedgets/header') %>
<style>
    .box-albumList {
        padding: 1rem;
    }

    .list-group-item>span {
        font-size: 0.5rem;
    }
</style>
<div class='container-md main'>
    <h1><a href="/other/<%=author.id%>"><%=author.nickname%></a>的相簿列表</h1>
    <div class="box-albumList">
        <h3>公開的文章相簿</h3>
        <% if(albums.show.length){ %>
        <% albums.show.forEach( albums => { albums.forEach( ({ id, title, time }) => { %>
        <ul class="list-group">
            <li class="list-group-item">
                <a href="/album/<%= id %>?owner_id=<%= author.id %>"><%= title %></a>
                <span>文章公開於 <%= time %></span>
            </li>
        </ul>
        <% }) }) %>
        <% } else { %>
        <p>沒有相簿</p>
        <% } %>
    </div>
    <div class="box-albumList">
        <h3>未公開的文章相簿</h3>
        <% if(albums.hidden && albums.hidden.length){ %>
        <% albums.hidden.forEach( albums => { albums.forEach( ({ id, title, time }) => { %>
        <ul class="list-group">
            <li class="list-group-item">
                <a href="/album/<%= id %>?owner_id=<%= author.id %>"><%= title %></a>
                <span>文章最近一次更新於 <%= time %></span>
            </li>
        </ul>
        <% }) }) %>
        <% } else { %>
        <p>沒有相簿</p>
        <% } %>
    </div>
</div>
<!-- JQ AXIOS BS5 -->
<%- include('wedgets/cdn') %>

<script type="module" defer>
    //  初始化來自ejs傳入當前頁面所需的數據
    import initPageFn from '/js/initData.js'
    //  logout功能 + 完整渲染 NAV + 取得news + 完整渲染 通知下拉選單
    import initNavbar from '/js/navbar.js'
    try {
        //  讀取中，遮蔽畫面
        loading()
        //  初始化ejs附帶的數據
        let initPage = new initPageFn()
        //  初始化navbar數據
        await initPage.addOtherInitFn(initNavbar)
        await initPage.render()
        //  讀取完成，解除遮蔽
        loadEnd()
    } catch (e) {
        console.log('@page error => ', e)
    }

    //  utils ------
    //  讀取畫面，遮蔽效果
    function loading() {
        $('#backdrop').addClass('my-show')
        $('input').attr('disabled', true)
    }
    //  讀取完成，取消遮蔽
    function loadEnd() {
        $('#backdrop').removeClass('my-show')
        $('input').removeAttr('disabled')
    }
</script>
</body>

</html>