<!-- favicon + MY_CSS + BS5_CSS -->
<%- include('wedgets/header') %>

<div class="container main py-3">
    <h1 class="mb-3"><%= title %>的照片列表</h1>
    <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-6 g-3">
        <% album.imgs.forEach( ({alt_id, img_id, blogImg_id, url, alt})=> { %>
        <div>
            <div class="card border-dark" data-my-photo="<%= alt_id %>">
                <div class="ratio ratio-1x1 border-bottom border-secondary">
                    <img class="card-img-top" src="<%= url %>?blogImgAlt=<%= alt_id %>" alt="<%= alt %>" />
                </div>
                <div class="card-body">
                    <p class="card-text text-truncate mb-0" style="height: 2rem; line-height: 2rem;">
                        <%= alt %>
                    </p>
                    <div class="my-noshow" style="height: 2rem">
                        <input class="inputCardName w-100" type="text" value="<%= alt %>">
                        <button class="col-auto">更新</button>
                    </div>
                </div>
            </div>
        </div>
        <% }) %>
    </div>
    <div>
        <!-- 當前使用者頁面的使用者資料 -->
        <div data-my-data="album" style="display: none;">
            <%- JSON.stringify(album) %>
        </div>
    </div>
</div>
<!-- JQ AXIOS BS5 -->
<%- include('wedgets/cdn') %>
<!-- 讀取的遮蔽 -->
<%- include('wedgets/backdrop') %>

<!-- 引入 xss -->
<script src="https://rawgit.com/leizongmin/js-xss/master/dist/xss.js"></script>
<!-- 引入 Ajv -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/ajv/8.11.0/ajv7.min.js"
    integrity="sha512-NGcX0dMSiOACZ7t7BKTSSoL2vnVKAp5mG+M8gK1vZQGwJtzbLQba1eniSXdez+WfDtcrxBUEo143DV297oAnbw=="
    crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>

<script type="module" defer>
    //  初始化來自ejs傳入當前頁面所需的數據
    import initPageFn from '/js/initData.js'
    //  logout功能 + 完整渲染 NAV + 取得news + 完整渲染 通知下拉選單
    import initNavbar from '/js/navbar.js'
    try {
        //  讀取中，遮蔽畫面
        loading()
        //  初始化ejs附帶的數據
        let initPage = new initPageFn()
        //  初始化navbar數據
        await initPage.addOtherInitFn(initNavbar)
        await initPage.render(renderPage)
        //  讀取完成，解除遮蔽
        loadEnd()
    } catch (e) {
        console.log('@page error => ', e)
    }

    async function renderPage(data) {
        //  初始化頁面功能
        //  公用變量
        let pageData = data
        // ----------------------------------------------------------------------------------------
        window.pageData = pageData
        // ----------------------------------------------------------------------------------------
        let { blog, imgs, map_imgs } = data.album
        let { id: owner_id } = pageData.me
        //  handle ---
        //  照片名稱span，handle click => 顯示、聚焦改名表格
        $('p.card-text').click(showAndFocusChangeImgAlt)
        //  照片改名表格，handle focus => 游標定位在表格最末位，確認可否更新
        $(`.inputCardName`).on('focus', focusChangeImgAlt)
        //  照片改名表格，handle input => 確認可否更新
        $(`.inputCardName`).on('input', (e) => {
            //  確認照片名稱是否為新
            toggleUpdateBtn($(e.target))
        })
        //  照片改名表格，handle blur => 確認是否放棄更新
        $(`.inputCardName`).on('blur', cancelChangeImgAlt)
        //  照片名稱更新鈕，handle click => 送出請求
        $(`[data-my-photo] button`).on('click', updateImgAlt)

        //  handle -----
        //  請求更新imgAlt
        async function updateImgAlt(e) {
            let $btn = $(e.target)
            let $container = $btn.parents('[data-my-photo]')
            let alt = $btn.prev().val()
            let alt_id = $container.attr('data-my-photo') * 1
            let payload = { alt_id, alt, blog_id: blog.id, owner_id }
            // 發出請求
            let { data: { errno, data, msg } } = await axios.patch('/api/album', payload)
            if (errno) {    //  更新失敗
                console.log('@相片改名失敗')
                return
            }
            //  更新成功
            //  同步頁面數據
            let img = map_imgs.get(alt_id)
            img.alt = alt
            //  同步畫面
            $container.children('img').attr('alt', alt)
            $container.find('.card-text').text(alt).toggle()
            $container.find('.card-body > div').removeClass('d-flex')
            $container.find('input[type=text]').val(alt)
        }
        //  確認是否放棄更新
        async function cancelChangeImgAlt(e) {
            let $el = $(e.target)
            let $container = $el.parents('[data-my-photo]')
            let blogImgAlt_id = $container.attr('data-my-photo') * 1
            let { alt } = map_imgs.get(blogImgAlt_id)
            console.log(alt, $el.val().trim())
            if (alt === $el.val().trim()) {
                // $el.parent().removeClass('d-flex invalide')
                // $el.parent().toggle()
                $container.find('.card-text').toggle()
                console.log($container.find('.d-flex'))
                $container.find('.d-flex').toggleClass('d-flex')
            }
            return
        }
        //  游標定位在表格最末位，確認可否更新
        function focusChangeImgAlt(e) {
            setTimeout(() => {
                let $el = $(e.target)
                $el[0].selectionStart = $el.val().length
                //  確認照片名稱是否為新
                toggleUpdateBtn($el)
            }, 0)
        }
        //  顯示、聚焦改名表格
        function showAndFocusChangeImgAlt(e) {
            let $cardText = $(e.target)
            let $container = $cardText.parents('[data-my-photo]')
            $cardText.toggle().next().addClass('d-flex').children('.inputCardName').focus()
        }
        //  utils -----
        //  確認照片名稱是否為新，已辨別是否能夠點擊更新鈕
        function toggleUpdateBtn($el) {
            let alt_id = $el.parents('[data-my-photo]').attr('data-my-photo') * 1
            let $btn = $el.next()
            let { alt } = map_imgs.get(alt_id)
            let ok = $el.val().trim() !== alt
            $btn.prop('disabled', !ok)
            return ok
        }
    }

</script>
</body>

</html>