<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            padding: 0;
            margin: 0;
        }

        #showBox {
            position: relative;
            z-index: 999;
        }

        #hiddenBox {
            position: absolute;
            z-index: 888;
            height: 100%;
            width: 100%;
            background: rgba(200, 200, 200, 0.5);
        }
    </style>
    <%- include('wedgets/common/index-css') %>
</head>

<body>
    <div id='hiddenBox' class="<%= blog.title ? 'my-noshow' : 'my-show' %>"></div>
    <div id="showBox">
        <input type="text" id="title" value="<%= blog.title %>">
        <button id="updateTitle" class="<%= blog.title ? 'my-show' : 'my-noshow' %>">修改標題</button>
        <button id="createBlog" class="<%= blog.title ? 'my-noshow' : 'my-show' %>">創建BLOG</button>
    </div>
    <div>
        <div id="toolbar-container"></div>
        <div id="editor-container"></div>
    </div>
    <input type="checkbox" name="" id="show" <%= blog.show ? 'checked' : '' %> />公開文章
    <% if (blog.show) { %>
    <p>已於 <%= blog.showAt %> 發佈</p>
    <% } %>

    <button id="save">存檔</button>
    <button id="remove">刪除此篇文章</button>
    <!-- 
        取得由 JSON.stringify(data) 轉譯過的純跳脫字符，
        如 { html: `<p>56871139</p>`}
            無轉譯 => { "html":"<p>56871139</p>") 會造成<p>直接渲染至頁面
            轉譯 => {&#34;html&#34;:&#34;&lt;p&gt;56871139&lt}
    -->
    <div id="data_blog" style="display: none">
        <%= JSON.stringify(locals.blog) %>
    </div>

    <%- include('wedgets/cdn') %>
    <!-- 引入 editor css -->
    <link href="https://cdn.jsdelivr.net/npm/@wangeditor/editor@latest/dist/css/style.css" rel="stylesheet">
    <!-- 引入 editor js -->
    <script src="https://cdn.jsdelivr.net/npm/@wangeditor/editor@latest/dist/index.min.js"></script>
    <!-- 引入 Spark-MD5 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/spark-md5/3.0.2/spark-md5.min.js"></script>
    <script>
        $(function () {
            /* window.blog 默認結構 */
            window.blog = {
                author: undefined,
                id: undefined,
                title: undefined,
                html: undefined,
                show: false,
                showAt: undefined,
                createdAt: undefined,
                updatedAt: undefined,
                api_blog: '/api/editor',
                api_uploadImg: '/api/editor/img',
                imgs: [] // item { blogImg_id, id, name, url, hash }
            }

            //  取得 Server 插入的 blog 資料
            let data_blog = $('#data_blog').text()
            //  轉回 obj
            data_blog = JSON.parse(data_blog)

            //  更新 window.blog
            window.blog = { ...window.blog, ...data_blog }


            //  定義 JQobj
            let $btn_updateTitle = $('#updateTitle')
            let $btn_createBlog = $('#createBlog')
            let $hiddenBox = $('#hiddenBox')
            let $title = $('#title')
            let $checkbox_show = $('#show')
            let $save = $('#save')
            let $remove = $('#remove')

            let editor = init_editor()

            //  input#title 綁定 blur handle => 驗證新標題
            $title.on('blur', handle_valicate_title)

            //  btn#createBlog 綁定 click handle => 創建 blog
            $btn_createBlog.click(handle_createBlog)

            //  btn#updateTitle 綁定 click handle => 修改 blog title
            $btn_updateTitle.click(handle_updateTitle)

            //  input#show 綁定 change handle => 修改 blog show 狀態
            $checkbox_show.on('change', handle_isShowBlog)

            //  btn#save 綁定 click handle => 存檔 blog
            $save.on('click', handle_saveBlog)

            //  btn#remove 綁定 click handle => 刪除 blog
            $remove.on('click', handle_removeBlog)

            //  handle => 刪除 blog
            async function handle_removeBlog(e) {
                if (!confirm('真的要刪掉?')) {
                    return
                }

                let { id, api_blog } = window.blog

                const {
                    data: {
                        errno, data, msg
                    }
                } = await axios.delete(api_blog, { data: { id } })

                if (!errno) {
                    alert('已成功刪除此篇文章')
                    location.href = '/self'
                } else {
                    alert(msg)
                }
            }

            //  handle => 儲存 blog
            async function handle_saveBlog(e) {
                //  獲取 html
                let html = editor.getHtml()
                let { imgs, id, show, api_blog } = window.blog

                let editorImgs = editor.getElemsByType('image').map(({ src }) => src)
                editorImgs = [...new Set(editorImgs)]

                let removeImgs = imgs.filter(item => {
                    let { blogImg_id, url } = item
                    return !editorImgs.includes(url)
                })

                removeImgs = removeImgs.map(({ blogImg_id }) => blogImg_id)

                let payload = { removeImgs, id, html, show }

                const {
                    data: {
                        errno, data, msg
                    }
                } = await axios.patch(api_blog, payload)

                if (!errno) {
                    if (removeImgs) {
                        window.blog.imgs = imgs.filter(({ blogImg_id }) => {
                            return !removeImgs.includes(blogImg_id)
                        })
                    }

                    alert('blog save success!')
                } else {
                    alert('blog save error!')
                }
            }

            //  handle => 修改 blog show 狀態
            function handle_isShowBlog(e) {
                window.blog.show = e.target.checked
            }

            //  handle => 修改 title
            async function handle_updateTitle(e) {
                let newTitle = $title.val().trim()
                let { title: oldTitle, api_blog, id } = window.blog

                let payload = { title: newTitle, id }

                const {
                    data: {
                        errno, data, msg
                    }
                } = await axios.patch(api_blog, payload)

                if (!errno) {
                    /* title修改成功 */
                    window.blog.title = newTitle

                    $btn_updateTitle.prop('disabled', true)
                    editor.focus(true)

                    alert('標題修改完成')
                } else {
                    /* title修改失敗 */
                    alert(`標題修改失敗 => ${msg.message}`)
                }
                return
            }

            //  handle => 創建 blog，成功後，為 input#title 綁定 input handle => 驗證新標題
            async function handle_createBlog(e) {
                let { api_blog } = window.blog
                let title = $title.val().trim()

                const {
                    data: {
                        errno, data, msg
                    }
                } = await axios.post(api_blog, { title })

                if (!errno) {
                    alert('BLOG創立完成')

                    window.blog = {
                        ...window.blog,
                        ...data    //  { id, title, html, show, showAt, createdAt, updatedAt }
                    }

                    $title.on('input', handle_valicate_title)

                    $btn_createBlog.toggleClass(['my-show', 'my-noshow'])
                    $btn_updateTitle.toggleClass(['my-show', 'my-noshow']).prop('disabled', true)
                    $hiddenBox.toggle(false)

                    editor.focus(true)

                    // location.href = `/blog/edit/${data.id}`
                } else {
                    alert(`BLOG創立失敗 => ${msg.message}`)
                    console.log(msg.stack)
                }
            }

            // handle => 驗證新標題
            function handle_valicate_title(e) {
                let newTitle = $title.val().trim()
                let { title: oldTitle } = window.blog

                if (e.type === 'blur') {
                    /* blur 時的標題驗證 */
                    if (!oldTitle && !newTitle) {
                        //  未建立blog 且 標題又為空
                        alert('請先寫入標題')
                    } else if (oldTitle && !newTitle) {
                        //  已建立blog 且 標題為空
                        $title.val(oldTitle)
                    }
                } else if (e.type === 'input') {
                    /* input 時的標題驗證，且 input handle 是在 oldTitle 有值後才綁定的*/
                    if (!!newTitle && oldTitle !== newTitle) {
                        //  標題有值 且 新舊標題不相同
                        $btn_updateTitle.prop('disabled', false)
                    } else {
                        $btn_updateTitle.prop('disabled', true)
                    }
                }
                return
            }

            //  初始化 editor
            function init_editor() {
                //  editor 的 繁中設定
                wangEditor.i18nAddResources('tw', {
                    // 标题
                    header: {
                        title: '標題',
                        text: '文字',
                    },
                    blockQuote: {
                        title: '圖標'
                    },

                    // ... 其他语言词汇，下文说明 ...
                })
                wangEditor.i18nChangeLanguage('tw')

                //  editor config
                const { createEditor, createToolbar } = window.wangEditor
                const editorConfig = { MENU_CONF: {} }

                //  editor config : placeholder
                editorConfig.placeholder = '请输入内容'

                //  editor config : image upload
                editorConfig.MENU_CONF['uploadImage'] = {
                    // 上传图片的配置

                    //  自定義 upload imgage
                    customUpload,

                    //  (待補)自定義 upload imgage 失敗
                }

                // editor 創建
                const editor = createEditor({
                    //  插入後端取得的 html
                    html: window.blog.html || '',
                    selector: '#editor-container',
                    config: editorConfig,
                    mode: 'simple'
                })

                // editor 工具欄創建
                const toolbar = createToolbar({
                    editor,
                    selector: '#toolbar-container',
                    mode: 'simple'
                })

                return editor
            }

            //  editor的 自定義上傳圖片方法
            async function customUpload(img, insertFn) {
                //  生成 img 的 hash(hex格式)
                let { url, hash } = await _getImgHash(img)

                if (!url) {
                    /*  url無值，代表 window.blog.imgs 內無此圖 */

                    let { id, api_uploadImg } = window.blog
                    let api = `${api_uploadImg}?blog_id=${id}&hash=${hash}`
                    //  upload img
                    let formdata = new FormData()
                    formdata.append('blogImg', img)

                    //  發送ajax，由後端將圖片上傳給GCS
                    let {
                        data: {
                            errno, data, msg
                        }
                    } = await axios.post(api, formdata)

                    if (!errno) {
                        /* 上傳成功 */

                        //  data { blogImg_id, id, name, url, hash }
                        blog.imgs.push(data)
                        //  將圖片插入 editor
                        insertFn(data.url)
                    } else {
                        //  上傳失敗
                        alert(msg)
                    }
                } else {
                    /*  url 有值，代表 blog.imgs 已有此圖 */

                    //  直接插入圖片
                    insertFn(url)
                }
            }

            //  取得圖片的 hash
            async function _getImgHash(img) {
                //  計算出 img 的 md5Hash(hex格式)
                let md5hash = await _getMD5Hash(img)
                let res = { hash: md5hash }
                //  若blog.imgs有檔案
                if (window.blog.imgs) {
                    //  利用 md5Hash 比對 blog 內是否已有該 img
                    let exist = blog.imgs.some((img) => {
                        let { hash } = img
                        //  同hash，代表同img
                        if (md5hash === hash) {
                            //  返回 blog.imgs 內相同的img資料
                            return res = img
                        }
                    })
                }
                return res
            }

            //  返回 file 的 FileReader.result
            function _getMD5Hash(file) {
                return new Promise((resolve, reject) => {
                    let fr = new FileReader()
                    fr.addEventListener('load', (evt) => {
                        if (fr.readyState === FileReader.DONE) {
                            let hash = SparkMD5.ArrayBuffer.hash(fr.result)
                            console.log('計算出的hash => ', hash)
                            resolve(hash)
                        }
                    })
                    fr.addEventListener('error', (error) => {
                        console.log('fr load 發生錯誤 => ', error)
                        reject(error)
                    })
                    fr.readAsArrayBuffer(file)
                })
            }
        })    
    </script>
</body>

</html>