<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>他人主頁</title>
</head>

<body>
    <img src="<%= user.avatar %>" alt="avatar" srcset="">
    <p><%= user.nickname %> 的頁面</p>
    <button id="follow" data-id="<%= user.id %>" data-api="<%= isFollow ? 'cancelFollow' : 'follow' %>">
        <%= isFollow ? '取消追蹤' : '追蹤' %>
    </button>
    <% if (blogs.length) { %>
    <ul>
        <% blogs.forEach(blog => { %>
        <li><a href="/blog/<%= blog.id %>"><%= blog.title %> </a></li>
        <% }) %>
    </ul>
    <% } %>
    <div id="container_fans">
        <p>Fans</p>
        <% if (fans.length) { %>
        <ul>
            <% fans.forEach(({id, nickname}) => { %>
            <li><%= nickname %></li>
            <% }) %>
        </ul>
        <% } %>
    </div>
    <div id="container_idols">
        <p>idols</p>
        <% if (idols.length) { %>
        <ul>
            <% idols.forEach(({id, nickname}) => { %>
            <li data-id='<%= id %>'><a href="/other/<%= id %>"><%= nickname %></a></li>
            <% }) %>
        </ul>
        <% } %>
    </div>
</body>
<%- include('wedgets/cdn') %>
<%- include('wedgets/utils') %>
<script>
    $('#follow').addEventListener('click', followOrNot)

    //  成為粉絲
    async function followOrNot(e) {
        const id = e.target.dataset.id
        const api = e.target.dataset.api

        const { data: {
            errno, data, msg
        } } = await axios.post(`/api/user/${api}`, { id })
        if (!errno) {
            alert('完成')
            return location.reload()

            let alertMsg = e.target.textContent.trim()
            const new_placeholder = (api !== 'follow') ? '已追蹤' : '已取消追蹤'
            api == 'cancelFollow' && 
                ui_remove_li($$('#container_idols > ul > li')) ||
                ui_add_li()
            e.target.textContent = new_placeholder
            alert(`${alertMsg}`)
        } else {
            alert(msg)
        }
    }

    function ui_remove_li(els) {
        [...els].some(el => {
            let exist = el.dataset.id == id
            if (exist) {
                el.parentElement.removeChild(el)
            }
            return exist
        })
    }

    function ui_add_li(container){
        
    }
</script>

</html>