<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><% currentUser.nickname %>的主頁</title>
    <%- include('wedgets/cdn') %>
    <!-- BS5 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <style>
        .avatar-box {
            width: 100%;
            display: flex;
            align-items: center;
        }

        .avatar-box>img {
            width: 20%;
            min-width: 70px;
            margin-right: 1rem;
        }

        .btn-blog-edit {
            z-index: 2;
            background: #fff;
        }

        .follow-box {
            width: 70px;
            background: rgba(255, 255, 255, .1);
            border: none;
        }

        .follow-box:hover {
            background: rgba(255, 255, 255, .3);
        }

        .follow-box a {
            text-decoration: none;
            font-size: 0.25rem
        }
    </style>
    <%- include('wedgets/common/index-css') %>

</head>

<body>
    <!-- 主導覽 -->


    <div class="container">
        <div class="row">
            <div class="col-8" style="background: rgba(255, 125, 220, .9);">
                <h1>主要資料</h1>
                <div class="userInfo">
                    <div class='avatar-box'>
                        <img src="<%= currentUser.avatar %>" alt="" srcset="">
                        <button id="cancelFollow" class="<%= isMyIdol ? 'my-show' : 'my-noshow' %> ">取消追蹤</button>
                        <button id="follow" class="<%= !isMyIdol ? 'my-show' : 'my-noshow' %> ">追蹤</button>
                    </div>
                    <p><%= currentUser.email %> </p>
                    <p><%= currentUser.nickname %> </p>
                </div>
                <hr>
            </div>

            <div class="col-4" style="background: rgba(255, 185, 100, .9);">
                <h1>次要資料</h1>
                <div>
                    <p>Fans</p>
                    <% if (fansList.length) { %>
                    <ul class="d-flex flex-wrap p-0">
                        <% fansList.forEach(fans => { %>

                        <li class="card follow-box m-1">
                            <img src="<%= fans.avatar %>" class="card-img-top" alt="">
                            <div class="card-body text-center">
                                <a href="/other/<%= fans.id %>" class="stretched-link"><%= fans.nickname %></a>
                            </div>
                        </li>

                        <% }) %>
                    </ul>
                    <% } %>
                </div>
                <div>
                    <p>idols</p>
                    <% if (idolList.length) { %>
                    <ul class="d-flex flex-wrap p-0">
                        <% idolList.forEach(idol => { %>

                        <li class="card follow-box m-1">
                            <img src="<%= idol.avatar %>" class="card-img-top" alt="">
                            <div class="card-body text-center">
                                <a href="/other/<%= idol.id %>" class="stretched-link"><%= idol.nickname %></a>
                            </div>
                        </li>

                        <% }) %>
                    </ul>
                    <% } %>
                </div>
            </div>
        </div>
        <div id="data" class="my-noshow">
            <%= JSON.stringify(currentUser) %> 
        </div>
    </div>
    <%- include('wedgets/cdn') %>
    <script>
        $(function () {
            //  { id, email, nickname, age, avatar, avatar_hash }
            let currentUser = JSON.parse($('#data').text())
            let btn_follow = $('#follow')
            let btn_cancelFollow = $('#cancelFollow')
            let api_follow = '/api/user/follow'
            let api_cancelFollow = '/api/user/cancelFollow'

            $('#data').remove()
            
            btn_follow.click(handle_follow)
            btn_cancelFollow.click(handle_cancelFollow)

            async function handle_cancelFollow(){
                let {errno} = await axios.post(api_cancelFollow, { id: currentUser.id })

                if(!errno){
                    alert('已取消追蹤')
                    btn_follow.toggle()
                    btn_cancelFollow.toggle()
                }else{
                    alert('失敗')
                }
            }

            async function handle_follow(){
                let {errno} = await axios.post(api_follow, { id: currentUser.id })

                if(!errno){
                    alert('追蹤成功')
                    btn_follow.toggle()
                    btn_cancelFollow.toggle()
                }else{
                    alert('失敗')
                }
            }

        })
    </script>
</body>

</html>