<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>個人主頁</title>
</head>

<body>
    <div>
        <ul id="newsList">
            <% news.length && news.forEach(({type, data}) => { %>
            <% if (type === 'fans') { %>
            <li>
                <a href="/other/<%= data.id %>?confirm=true"><%= data.nickname %>追蹤你囉！</a>
            </li>
            <% } else if (type === 'idol_blog') { %>
            <li>
                <a href="/blog/<%= data.blog.id %>?confirm=true"><%= data.author.nickname %>有新文章唷！</a>
            </li>
            <% } %>
            <% }) %>
        </ul>
    </div>
    <img src="<%= user.avatar %>" alt="" srcset="">
    <a href="/blog/new">撰寫新文章</a>
    <% if (blogs.length) { %>
    <ul>
        <% blogs.forEach(blog => { %>
        <li><a href="/blog/<%= blog.id %>"><%= blog.title %> </a></li><a href="/blog/edit/<%= blog.id %>">編輯文章</a>
        <% }) %>
    </ul>
    <% } %>
    <a href="/setting">個人設置</a>
    <div>
        <p>Fans</p>
        <% if (fans.length) { %>
        <ul>
            <% fans.forEach(fan => { %>
            <% if (fan.id !== user.id ) { %>
            <li><%= fan.nickname %></li>
            <% } %>
            <% }) %>
        </ul>
        <% } %>
    </div>
    <div>
        <p>idols</p>
        <% if (idols.length) { %>
        <ul>
            <% idols.forEach(idol => { %>
            <% if (idol.id !== user.id ) { %>
            <li><%= idol.nickname %></li>
            <% } %>
            <% }) %>
        </ul>
        <% } %>
    </div>
</body>

</html>