<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><% user.nickname %>的主頁</title>
    <!-- BS5 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <style>
        .avatar-box {
            width: 100%;
            display: flex;
            align-items: center;
        }

        .avatar-box>img {
            width: 20%;
            min-width: 70px;
            margin-right: 1rem;
        }
    </style>
    <%- include('wedgets/navbar/navbar-css') %>
</head>

<body>
    <!-- 主導覽 -->
    <%- include('wedgets/navbar/navbar') %>
    <div class="container">
        <div class="row">
            <div class="col-8" style="background: rgba(255, 125, 220, .9);">
                <h1>主要資料</h1>
                <div class="userInfo">
                    <div class='avatar-box'>
                        <img src="<%= user.avatar %>" alt="" srcset="">
                        <% if (!self && myIdol) { %>
                        <button id="cancelFollow" data-id="<%= user.id %>">取消追蹤</button>
                        <% } else if (!self && myIdol === false) { %>
                        <button id="follow" data-id="<%= user.id %>">追蹤</button>
                        <% } %>
                    </div>
                    <p><%= user.email %> </p>
                    <p><%= user.nickname %> </p>
                </div>
                <hr>
                <div id="blogs">
                    <a href="/blog/new">撰寫新文章</a>
                    <div id="public-blog">
                        <h2>已發布的BLOG</h2>
                        <% if(blogs.show.length){ %>
                        <ul>
                            <% blogs.show.forEach(({id, title}) => { %>
                            <li>
                                <a href="/blog/edit/<%= id %>"><%= title %> </a>
                            </li>
                            <% }) %>
                        </ul>
                        <% } else { %>
                        <p>沒有發布的BLOG</p>
                        <% } %>
                    </div>
                    <% if (self) { %>
                    <div id="private-blog">
                        <h2>編輯中的BLOG</h2>
                        <% if(blogs.hidden.length){ %>
                        <ul>
                            <% blogs.hidden.forEach(({id, title}) => { %>
                            <li>
                                <a href="/blog/edit/<%= id %>"><%= title %> </a>
                            </li>
                            <% }) %>
                        </ul>
                        <% } else { %>
                        <p>沒有編輯中的BLOG</p>
                        <% } %>
                    </div>
                    <% } %>
                </div>
            </div>
            <div class="col-4" style="background: rgba(255, 185, 100, .9);">
                <h1>次要資料</h1>
                <div>
                    <p>Fans</p>
                    <% if (fans.length) { %>
                    <ul>
                        <% fans.forEach(fan => { %>
                        <% if (fan.id !== user.id ) { %>
                        <li>
                            <a href="/other/<%= fan.id %> "><%= fan.nickname %></a>
                        </li>
                        <% } %>
                        <% }) %>
                    </ul>
                    <% } %>
                </div>
                <div>
                    <p>idols</p>
                    <% if (idols.length) { %>
                    <ul>
                        <% idols.forEach(idol => { %>
                        <% if (idol.id !== user.id ) { %>
                        <li>
                            <a href="/other/<%= idol.id %> "><%= idol.nickname %></a>
                        </li>
                        <% } %>
                        <% }) %>
                    </ul>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    <%- include('wedgets/cdn') %>
    <%- include('wedgets/utils') %>
    <%- include('wedgets/navbar/navbar-js')  %>
    <script>
        $('#cancelFollow') && $('#cancelFollow').addEventListener('click', aboutFollow(false))
        $('#follow') && $('#follow').addEventListener('click', aboutFollow())

        function aboutFollow(followRoCancel = true) {
            let follow = followRoCancel ? true : false
            let api = follow ? '/api/user/follow' : '/api/user/cancelFollow'
            return async (e) => {
                let id = e.target.dataset['id']
                const {
                    data: {
                        errno, data, msg
                    }
                } = await axios.post(api, { id })
                if (!errno) {
                    alert(data)
                    location.reload()
                } else {
                    alert(msg)
                }
            }
        }
    </script>
</body>

</html>