<!-- favicon + MY_CSS + BS5_CSS -->
<%- include('wedgets/common/header') %>

<body>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300&display=swap" rel="stylesheet">


    <!-- 主導覽： NAV_CSS + NAV第一層template -->
    <%- include('wedgets/navbar/index') %>
    <div class='container p-3'>
        <h1>文章列表</h1>
        <ul class="list-group">
            <% blogList.forEach( ({ id, title, author }) => { %>
            <li class="list-group-item">
                <a href="/blog/<%= id %>"><%= title %></a>
            </li>
            <% }) %>
        </ul>
    </div>
    <!-- JQ AXIOS BS5 -->
    <%- include('wedgets/cdn') %>

    <script type="module" defer>
        //  初始化來自ejs傳入當前頁面所需的數據
        import initData from '/js/initData.js'
        //  logout功能 + 完整渲染 NAV + 取得news + 完整渲染 通知下拉選單
        import initNavbar from '/js/navbar.js'

        try {
            //  讀取中，遮蔽畫面
            loading()
            //  初始化ejs附帶的數據
            let pageData = new initData()
            //  初始化navbar數據
            await pageData.init(initNavbar)
            //  確認以上所有初始化已完成，取得彙整後數據
            let data = await pageData.check()
            //  初始化頁面功能，並傳入上面彙整後的初始化數據
            // await initPage(album)
            //  讀取完成，解除遮蔽
            loadEnd()
        } catch (e) {
            console.log('@page error => ', e)
        }

        //  utils ------
        //  讀取畫面，遮蔽效果
        function loading() {
            $('#backdrop').addClass('my-show')
            $('input').attr('disabled', true)
        }
        //  讀取完成，取消遮蔽
        function loadEnd() {
            $('#backdrop').removeClass('my-show')
            $('input').removeAttr('disabled')
        }
    </script>
</body>

</html>