<!-- favicon + MY_CSS + BS5_CSS -->
<%- include('wedgets/common/header') %>

<body>
    <style>
        .avatar-box {
            width: 100%;
            display: flex;
            align-items: center;
        }

        .avatar-box>img {
            width: 20%;
            min-width: 70px;
            margin-right: 1rem;
        }

        .btn-blog-edit {
            z-index: 2;

        }

        .btn-blog-edit>a {

            background: #fff;
        }

        .follow-box {
            width: 70px;
            background: rgba(255, 255, 255, .1);
            border: none;
        }

        .follow-box:hover {
            background: rgba(255, 255, 255, .3);
        }

        .follow-box a {
            text-decoration: none;
            font-size: 0.25rem;
        }

        .list-group>.btn {
            margin-left: auto;
            margin-right: 0;
        }

        .blogList {
            border: 1px solid rgba(0, 0, 0, .3);
            margin-bottom: .5rem;
        }

        .blogList>* {
            padding: .5rem
        }

        .blogList-header {
            display: flex;
            justify-content: space-between;
        }

        .blogList-header>h2 {
            margin: 0;
        }

        .blogList-header>.btn {
            margin-left: auto;
            margin-right: 0;
        }

        .my-disabled>a {
            pointer-events: none;
        }
    </style>

    <!-- 主導覽： NAV_CSS + NAV第一層template -->
    <%- include('wedgets/navbar/index') %>

    <div class="container">
        <div class="row">
            <div class="col-8" style="background: rgba(255, 125, 220, .9);">
                <h1>主要資料</h1>
                <div class="userInfo">
                    <div class='avatar-box'>
                        <img src="<%= currentUser.avatar %>" alt="" srcset="">
                        <button id="cancelFollow" data-user-id="<%= currentUser.id %>" class="my-noshow">取消追蹤</button>
                        <button id="follow" data-user-id="<%= currentUser.id %>" class="my-noshow">追蹤</button>
                    </div>
                    <p>
                        <%= currentUser.email %>
                    </p>
                    <p>
                        <%= currentUser.nickname %>
                    </p>
                </div>
                <hr>
                <div id="blogs">
                    <div id="newBlog" class="my-noshow">
                        <a href="/blog/new">撰寫新文章</a>
                    </div>

                    <div class="blogList bg-light p-2" data-my-blog-key="show">
                        <div class="blogList-header">
                            <h2>已發布的BLOG</h2>
                            <button type="button"
                                class="btn btn-sm btn-outline-danger <%= blogList.show.length? 'my-show' : 'my-noshow'%>"
                                data-my-blogs="show">全部刪除</button>
                        </div>
                        <% if(blogList.show.length){ %>
                        <ul class="list-group list-group-flush">
                            <% blogList.show[0].forEach(({id, title}) => { %>
                            <li
                                class="list-group-item list-group-item-action list-group-item-info d-flex align-items-center justify-content-between">
                                <a href="/blog/<%= id %>" class="stretched-link">
                                    <%= title %>
                                </a>
                                <div class="btn-blog-edit">
                                    <a class='btn btn-outline-primary btn-sm' href="/blog/edit/<%= id %>">編輯</a>
                                    <a class='btn btn-outline-primary btn-sm' data-my-remove-blog="<%= id %>">刪除</a>
                                </div>
                            </li>
                            <% }) %>
                        </ul>
                        <% if (blogList.show.length > 1) { %>
                        <nav aria-label="...">
                            <ul class="pagination" id="show-list">
                                <li class="page-item my-disabled">
                                    <a class="page-link" href='#' data-my-way="back">Previous</a>
                                </li>
                                <% blogList.show.forEach((item, ind, arr) => { %>
                                <li class="page-item <%= ind === 0 ? 'active my-disabled': ''%>">
                                    <a class="page-link" href="#" data-my-key="show"
                                        data-my-ind="<%= ind %>"><%= ind + 1 %></a>
                                </li>
                                <% }) %>

                                <li class="page-item">
                                    <a class="page-link" href="#" data-my-way="next">Next</a>
                                </li>
                            </ul>
                        </nav>
                        <% } %>
                        <% } else { %>

                        <p>沒有發布的BLOG</p>

                        <% } %>
                    </div>
                    <% if(blogList.hidden){ %>
                    <div class="blogList bg-light p-2" data-my-blog-key="hidden">
                        <div class="blogList-header">
                            <h2>編輯中的BLOG</h2>
                            <button type="button" class="btn btn-sm btn-outline-danger  <%= blogList.hidden.length? 'my-show' : 'my-noshow'%>"
                                data-my-blogs="hidden">全部刪除</button>
                        </div>
                        <% if(blogList.hidden.length){ %>
                        <ul class="list-group list-group-flush">
                            <% blogList.hidden[0].forEach(({id, title}) => { %>
                            <li
                                class="list-group-item list-group-item-action list-group-item-info d-flex align-items-center justify-content-between">
                                <div>
                                    <a class="stretched-link" href="/blog/<%= id %>">
                                        <%= title %>
                                    </a>
                                </div>
                                <div class="btn-blog-edit">
                                    <a class='btn btn-outline-primary btn-sm' href="/blog/edit/<%= id %>">編輯</a>
                                    <a class='btn btn-outline-primary btn-sm' data-my-remove-blog="<%= id %>">刪除</a>
                                </div>
                            </li>
                            <% }) %>
                        </ul>
                        <% if (blogList.hidden.length > 1) { %>
                        <nav aria-label="...">
                            <ul class="pagination" id="hidden-list">
                                <li class="page-item my-disabled">
                                    <a class="page-link" href="#" data-my-way="back">Previous</a>
                                </li>
                                <% blogList.hidden.forEach((item, ind, arr) => { %>
                                <li class="page-item <%= ind === 0 ? 'active my-disabled': ''%>">
                                    <a class="page-link" href="#" data-my-key="hidden"
                                        data-my-ind="<%= ind %>"><%= ind + 1 %></a>
                                </li>
                                <% }) %>

                                <li class="page-item">
                                    <a class="page-link" href="#" data-my-way="next">Next</a>
                                </li>
                            </ul>
                        </nav>
                        <% } %>

                        <% } else { %>
                        <p>沒有編輯中的BLOG</p>
                        <% } %>
                    </div>
                    <% } %>
                </div>
            </div>
            <div class="col-4" style="background: rgba(255, 185, 100, .9)">
                <h1>次要資料</h1>
                <div>
                    <p>Fans</p>

                    <ul id="fansList" class="d-flex flex-wrap p-0">
                        <% fansList.forEach(fans => { %>

                        <li class="card follow-box m-1" data-fans-id="<%= fans.id %>">
                            <img src="<%= fans.avatar %>" class="card-img-top" alt="">
                            <div class="card-body text-center">
                                <a href="/other/<%= fans.id %>" class="stretched-link">
                                    <%= fans.nickname %>
                                </a>
                            </div>
                        </li>

                        <% }) %>
                    </ul>

                </div>
                <div>
                    <p>idols</p>

                    <ul class="d-flex flex-wrap p-0">
                        <% idolList.forEach(idol => { %>

                        <li class="card follow-box m-1">
                            <img src="<%= idol.avatar %>" class="card-img-top" alt="">
                            <div class="card-body text-center">
                                <a href="/other/<%= idol.id %>" class="stretched-link">
                                    <%= idol.nickname %>
                                </a>
                            </div>
                        </li>

                        <% }) %>
                    </ul>

                </div>
            </div>
        </div>
    </div>

    <!-- 當前使用者頁面的使用者資料 -->
    <div data-my-data="currentUser">
        <%- JSON.stringify(currentUser) %>
    </div>
    <div data-my-data="fansList">
        <%- JSON.stringify(fansList) %>
    </div>
    <div data-my-data="idolList">
        <%- JSON.stringify(idolList) %>
    </div>
    <div data-my-data="blogList">
        <%- JSON.stringify(blogList) %>
    </div>

    <!-- JQ AXIOS BS5 -->
    <%- include('wedgets/cdn') %>
    <!-- 初始化來自ejs傳入當前頁面所需的數據 -->
    <script defer src="/js/initData.js"></script>
    <!-- 取得登入資料 -->
    <script defer src="/js/getMe.js"></script>
    <!--
        logout功能 +
        完整渲染 NAV +
        取得news +
        完整渲染 通知下拉選單
    -->
    <script defer src="/js/navbar.js"></script>
    <script>
        $(async function () {
            let $btn_follow = $('#follow')
            let $btn_cancelFollow = $('#cancelFollow')
            let $btn_removeBlog = $('[data-my-remove-blog]')
            let $btn_removeBlogs = $('[data-my-blogs]')
            let $pageLink = $('[data-my-key].page-link')

            let $way = $('[data-my-way].page-link')

            let api_blog = '/api/blog'
            let api_follow = '/api/user/follow'
            let api_cancelFollow = '/api/user/cancelFollow'

            await init().catch(e => console.log(`user.ejs 初始化時發生錯誤 => ${e}`))

            async function init() {
                // await window.initData()
                // await window._myPromiseIns.initData()
                await window._my.initData()
                console.log('@ 已確認頁面所需數據皆已初始化完成')
                let { currentUser, me } = window.data
                let isSelf = currentUser.id === me.id

                $('#newBlog').toggleClass('my-show', isSelf).toggleClass('my-noshow', !isSelf)
                $('#newBlog').toggleClass('my-show', isSelf).toggleClass('my-noshow', !isSelf)
                if (!isSelf) {
                    let isMyIdol = window.data.fansList.some((fans) => fans.id === me.id)
                    $('#cancelFollow').toggleClass('my-show', isMyIdol).toggleClass('my-noshow', !isMyIdol)
                    $('#follow').toggleClass('my-show', !isMyIdol).toggleClass('my-noshow', isMyIdol)
                }
                $('.btn-blog-edit').toggleClass('my-show', isSelf).toggleClass('my-noshow', !isSelf)
                $('[data-my-blog-key=hidden]').toggleClass('my-show', isSelf).toggleClass('my-noshow', !isSelf)
                $('.blogList-header').toggleClass('my-noshow', !isSelf)
            }

            window.render = { blog: { show: { html: [], curInd: 0 }, hidden: { html: [], curInd: 0 } } }

            $pageLink.on('click', renderBlogList)
            $way.on('click', renderBlogList)

            function renderBlogList(e) {
                e.preventDefault()
                //  觸發handle的標籤
                let $target = $(e.target)
                //  隱藏或公開的文章type
                let blogKey = $target.parents('div.blogList').data('my-blog-key')
                //  文張列表<ul>
                let $targetUl = $(`[data-my-blog-key=${blogKey}] ul.list-group`)
                //  此type的渲染數據
                let data_renderOfBlogKey = window.render.blog[blogKey]
                //  此type的blog數據
                let data_blogList = window.data.blogList[blogKey]
                //  當前渲染的頁碼(從0開始)
                let curInd = data_renderOfBlogKey.curInd

                //  觸發handle的標籤纇型，判斷是頁碼或方向
                let typeOfTarget = $target.attr('data-my-ind') ? 'page' : 'dir'
                //  目標頁碼
                let tarInd
                if (typeOfTarget === 'page') {   // 若標籤纇型是頁碼
                    //  目標頁碼即為標籤的data-my-ind(也是從0開始)
                    tarInd = $target.data('my-ind')
                } else if (typeOfTarget === 'dir') {   //若標籤纇型是方向
                    //  目標頁碼以計算方式取得
                    tarInd = $target.data('my-way') === 'next' ? curInd + 1 : curInd - 1
                }

                //  查詢data是否有當前頁碼的數據
                let data_curList = data_renderOfBlogKey.html[curInd]
                if (!data_curList) {   //若沒有，存放當前頁的數據
                    data_renderOfBlogKey.html[curInd] = $targetUl.html()
                }

                //  查詢data是否有目標頁碼的數據
                let data_tarList = data_renderOfBlogKey.html[tarInd]
                if (!data_tarList) {    //若沒有，則創建並存放目標頁數據
                    let htmlStr = data_blogList[tarInd].reduce((init, { id, title }) => {
                        return init += templateCreator_BlogList(id, title)
                    }, '')
                    data_renderOfBlogKey.html[tarInd] = htmlStr
                }

                UI_page(blogKey, tarInd)
                $targetUl.html(data_renderOfBlogKey.html[tarInd])
                data_renderOfBlogKey.curInd = tarInd
            }

            function UI_page(key, tarInd) {
                let $list = $(`[data-my-blog-key=${key}]`)
                //  移除頁碼列所有active與disable
                $list.find('li.page-item').removeClass('active my-disabled')
                //  
                let $back = $list.find(`li.page-item:first`)
                let $next = $list.find(`li.page-item:last`)

                let lastPageIndex = window.data.blogList[key].length - 1

                if (tarInd === 0) {   // 目標是第一頁
                    //  next不能按
                    $back.addClass('my-disabled')
                } else if (tarInd === lastPageIndex) { //  目標是最後一頁
                    $next.addClass('my-disabled')
                }
                let $tarPage = $list.find(`a.page-link[data-my-ind=${tarInd}]`).parent().addClass('active my-disabled')
            }

            function templateCreator_BlogList(id, title) {
                return `
                    
                        <li class="list-group-item list-group-item-action list-group-item-info d-flex align-items-center justify-content-between">
                            <div>
                                <a class="stretched-link" href="/blog/${id}">${title}</a>
                            </div>
                            <div class="btn-blog-edit">
                                <a class='btn btn-outline-primary btn-sm' href="/blog/edit/${id}">編輯</a>
                                <a class='btn btn-outline-primary btn-sm' data-my-remove-blog="${id}">刪除</a>
                            </div>
                        </li>
                    `
            }

            $btn_removeBlogs.click(async (e) => {
                let $blogList = $(e.target).parents('[data-my-blog-key]')
                let $children = [...$blogList.find('[data-my-remove-blog]')]
                let listOfBlogId = $children.reduce((init, cur) => {
                    init.push($(cur).data('my-remove-blog'))
                    return init
                }, [])

                const {
                    data: {
                        errno, data, msg
                    }
                } = await axios.delete(api_blog, { data: { id: listOfBlogId } })

                if (errno) {
                    alert(msg)
                } else {
                    $btn_removeBlogs.toggleClass('my-show my-noshow')
                    $blogList.append('<p>沒有文章</p>').children('ul').remove()

                    let key = $blogList.data('my-blog-key')
                    let list = window.data.blogList[key]

                    window.data.blogList[key] = []
                    alert('已成功刪除這些文章')
                }
                return
            })
            $btn_removeBlog.click(handle_removeBlog)

            async function handle_removeBlog(e) {
                if (!confirm('真的要刪掉?')) {
                    return
                }

                let $target = $(e.target)
                let id = $target.data('my-remove-blog')

                const {
                    data: {
                        errno, data, msg
                    }
                } = await axios.delete(api_blog, { data: { id } })

                if (!errno) {
                    alert('已成功刪除此篇文章')
                    location.href = '/self'
                    return
                }

                alert(msg)
                if(errno === 501){
                    location.href = '/login'
                }
            }

            $btn_follow.click(handle_follow(true))
            $btn_cancelFollow.click(handle_follow(false))

            //  handle for follow or cancel follow
            function handle_follow(toFollow = true) {
                let api = toFollow ? api_follow : api_cancelFollow

                let { fansList, me } = window.data
                if (!me) {
                    return () => {
                        alert('請先登入')
                        location.href = `/login?from=${location.pathname}`
                    }
                }

                let feedback_func = () => {
                    if (toFollow) {
                        alert('已追蹤')
                        //  follow 與 cancelFollow 鈕的 toggle
                        _btnFollowToggle()
                        //  將登入用戶加入fansList
                        fansList.unshift(me)
                        let html_li = `
                        <li class="card follow-box m-1" data-fans-id="${me.id}">
                            <img src="${me.avatar}" class="card-img-top" alt="">
                            <div class="card-body text-center">
                                <a href="/other/${me.id}" class="stretched-link">${me.nickname}</a>
                            </div>
                        </li>
                        `
                        $(`ul#fansList`).prepend(html_li)

                    } else {
                        alert('已退追')
                        _btnFollowToggle()
                        fansList.splice(fansList.indexOf(me.id), 1)
                        $(`li[data-fans-id='${me.id}']`).remove()
                    }

                }

                return async (e) => {
                    let $target = $(e.target)
                    let id = $target.data('user-id')
                    const {
                        data: {
                            errno, data, msg
                        }
                    } = await axios.post(api, { id })

                    if (!errno) {
                        feedback_func()
                    } else {
                        alert('操作發生錯誤')
                        console.log(msg)
                    }
                }
            }

            function _btnFollowToggle() {
                $btn_follow.toggle()
                $btn_cancelFollow.toggle()
            }

        })
    </script>
</body>

</html>