<!-- 主導覽： NAV_CSS + NAV第一層template -->
<!-- favicon + MY_CSS + BS5_CSS -->
<%- include('wedgets/header') %>


    <style>
        .btn-blog-edit {
            z-index: 2;

        }

        .btn-blog-edit>a {

            background: #fff;
        }

        .follow-box {
            /* min-width: 50%; */
            background: rgba(255, 255, 255, .1);
            border: none;
        }

        .follow-box:hover {
            background: rgba(255, 255, 255, .3);
        }

        .follow-box a {
            text-decoration: none;
            font-size: 0.25rem;
        }

        .list-group>.btn {
            margin-left: auto;
            margin-right: 0;
        }

        .blogList {
            border: 1px solid rgba(0, 0, 0, .3);
            margin-bottom: .5rem;
        }

        .blogList-header {
            display: flex;
            justify-content: space-between;
        }

        .blogList-header>h5 {
            margin: 0;
        }

        .blogList-header>.btn {
            margin-left: auto;
            margin-right: 0;
        }

        .my-disabled>a {
            pointer-events: none;
        }

        #backdrop.my-show {
            background: rgba(202, 71, 71, 0.5);
            position: fixed;
            z-index: 1000;
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #backdrop>div {
            font-size: 100px;
        }

        #fansList .text-truncate,
        #idolList .text-truncate {
            color: #0d6efd
        }

        @media (min-width: 576px) {

            #fansList>ul li,
            #idolList>ul li {
                min-width: 5rem;
                /* width: 5rem */
            }
        }

        @media (min-width: 768px) {}

        @media (min-width: 992px) {

            #fansList>ul li,
            #idolList>ul li {
                min-width: 6rem;
                /* width: 6rem; */
            }
        }

        @media (min-width: 1200px) {

            #fansList>ul li,
            #idolList>ul li {
                min-width: 7rem;
                /* width: 7rem; */
            }
        }
    </style>

    <div id='backdrop' class="my-noshow">
        <div>讀取中...</div>
    </div>
    <div class="main container-md mb-3">
        <div class="row gx-3">
            <div class="col-8 border-end">

                <div class="card mb-3">
                    <div class="row align-items-center">
                        <div class="col-sm-4 text-center">
                            <div class="p-1">
                                <div class="ratio ratio-1x1 mb-1">
                                    <img src="<%= currentUser.avatar %>" class="img-fluid mb-1"
                                        style="border-radius: 50% 50%;" alt="...">
                                </div>
                                <button id="cancelFollow" type="button"
                                    class="btn btn-danger btn-sm follow my-noshow">取消追蹤</button>
                                <button id="follow" type="button"
                                    class="btn btn-success btn-sm follow my-noshow">追蹤</button>

                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="card-body">
                                <h5 class="card-title">主要資料</h5>
                                <hr>
                                <p>信箱： <%= currentUser.email %>
                                </p>
                                <p>暱稱： <%= currentUser.nickname %>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div id="blogs">
                    <!-- Button trigger modal -->
                    <button id="newBlog" type="button" class="btn btn-primary mb-1 my-noshow" data-bs-toggle="modal"
                        data-bs-target="#exampleModal">
                        撰寫新文章
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">

                                <div class="modal-body">
                                    <div class="mb-3">
                                        <label for="blogTitle" class="form-label">文章標題</label>
                                        <input type="text" class="form-control" id="blogTitle" placeholder="文章標題">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">取消建立文章</button>
                                    <button id="sendBlogTitle" type="button" class="btn btn-primary">建立文章</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card blogList bg-light" data-my-blog-key="show">
                        <div class="card-header blogList-header">
                            <h5>已發布的BLOG</h5>
                            <button type="button"
                                class="btn btn-sm btn-outline-danger <%= blogList.show.length? 'my-show' : 'my-noshow'%>"
                                data-my-remove-blogs="show">全部刪除</button>
                        </div>
                        <% if(blogList.show.length){ %>
                            <ul class="list-group list-group-flush">
                                <% blogList.show[0].forEach(({id, title})=> { %>
                                    <li
                                        class="list-group-item list-group-item-action list-group-item-info d-flex align-items-center justify-content-between">
                                        <a href="/blog/<%= id %>" class="stretched-link">
                                            <%= title %>
                                        </a>
                                        <div class="btn-blog-edit my-noshow">
                                            <a class='btn btn-outline-primary btn-sm' href="/blog/edit/<%= id %>">編輯</a>
                                            <a class='btn btn-outline-primary btn-sm'
                                                data-my-remove-blog="<%= id %>">刪除</a>
                                        </div>
                                    </li>
                                    <% }) %>
                            </ul>
                            <% if (blogList.show.length> 1) { %>
                                <nav aria-label="...">
                                    <ul class="pagination" id="show-list">
                                        <li class="page-item my-disabled">
                                            <a class="page-link" href='#' data-my-way="back">Previous</a>
                                        </li>
                                        <% blogList.show.forEach((item, ind, arr)=> { %>
                                            <li class="page-item <%= ind === 0 ? 'active my-disabled': ''%>">
                                                <a class="page-link" href="#" data-my-key="show"
                                                    data-my-ind="<%= ind %>">
                                                    <%= ind + 1 %>
                                                </a>
                                            </li>
                                            <% }) %>

                                                <li class="page-item">
                                                    <a class="page-link" href="#" data-my-way="next">Next</a>
                                                </li>
                                    </ul>
                                </nav>
                                <% } %>
                                    <% } else { %>

                                        <p>沒有發布的BLOG</p>

                                        <% } %>
                    </div>
                    <% if(blogList.hidden){ %>
                        <div class="card blogList bg-light" data-my-blog-key="hidden">
                            <div class="card-header blogList-header">
                                <h5>編輯中的BLOG</h5>
                                <button type="button"
                                    class="btn btn-sm btn-outline-danger <%= blogList.hidden.length? 'my-show' : 'my-noshow'%>"
                                    data-my-remove-blogs="hidden">全部刪除</button>
                            </div>
                            <% if(blogList.hidden.length){ %>
                                <ul class="list-group list-group-flush">
                                    <% blogList.hidden[0].forEach(({id, title})=> { %>
                                        <li
                                            class="list-group-item list-group-item-action list-group-item-info d-flex align-items-center justify-content-between">
                                            <div>
                                                <a class="stretched-link" href="/blog/<%= id %>">
                                                    <%= title %>
                                                </a>
                                            </div>
                                            <div class="btn-blog-edit">
                                                <a class='btn btn-outline-primary btn-sm'
                                                    href="/blog/edit/<%= id %>">編輯</a>
                                                <a class='btn btn-outline-primary btn-sm'
                                                    data-my-remove-blog="<%= id %>">刪除</a>
                                            </div>
                                        </li>
                                        <% }) %>
                                </ul>
                                <% if (blogList.hidden.length> 1) { %>
                                    <nav aria-label="...">
                                        <ul class="pagination" id="hidden-list">
                                            <li class="page-item my-disabled">
                                                <a class="page-link" href="#" data-my-way="back">Previous</a>
                                            </li>
                                            <% blogList.hidden.forEach((item, ind, arr)=> { %>
                                                <li class="page-item <%= ind === 0 ? 'active my-disabled': ''%>">
                                                    <a class="page-link" href="#" data-my-key="hidden"
                                                        data-my-ind="<%= ind %>">
                                                        <%= ind + 1 %>
                                                    </a>
                                                </li>
                                                <% }) %>

                                                    <li class="page-item">
                                                        <a class="page-link" href="#" data-my-way="next">Next</a>
                                                    </li>
                                        </ul>
                                    </nav>
                                    <% } %>

                                        <% } else { %>
                                            <p>沒有編輯中的BLOG</p>
                                            <% } %>
                        </div>
                        <% } %>
                </div>
            </div>
            <div class="col-4">
                <div>
                    <p>粉絲列表</p>
                    <div id="fansList" class="overflow-hidden">
                        <ul class="d-inline-flex p-0">
                            <!-- <ul id="fansList" class="d-flex w-100 overflow-x p-0"> -->
                            <% fansList.forEach(fans=> { %>
                                <li class="card follow-box m-1 p-1" data-fans-id="<%= fans.id %>">
                                    <div class="ratio ratio-1x1 mb-1">
                                        <img src="<%= fans.avatar %>" class="card-img-top" alt="">
                                    </div>
                                    <div class="text-center p-1 text-truncate">
                                        <a href="/other/<%= fans.id %>" class="stretched-link">
                                            <%= fans.nickname %>
                                        </a>
                                    </div>
                                </li>

                                <% }) %>
                        </ul>
                    </div>
                </div>
                <div>
                    <p>追蹤列表</p>
                    <div id="idolList" class="overflow-hidden">
                        <ul class="d-inline-flex p-0">
                            <!-- <ul id="fansList" class="d-flex w-100 overflow-x p-0"> -->
                            <% idolList.forEach(idol=> { %>
                                <li class="card follow-box  m-1 p-1" data-idol-id="<%= idol.id %>">
                                    <div class="ratio ratio-1x1 mb-1">
                                        <img src="<%= idol.avatar %>" class="card-img-top" alt="">
                                    </div>
                                    <div class="text-center p-1 text-truncate">
                                        <a href="/other/<%= idol.id %>" class="stretched-link">
                                            <%= idol.nickname %>
                                        </a>
                                    </div>
                                </li>

                                <% }) %>
                        </ul>
                    </div>

                </div>
            </div>

        </div>
    </div>
    </div>
    <div class="footer container-fluid">
        Footer
    </div>

    <!-- 當前使用者頁面的使用者資料 -->
    <div data-my-data="currentUser" style="display: none;">
        <%- JSON.stringify(currentUser) %>
    </div>
    <div data-my-data="fansList">
        <%- JSON.stringify(fansList) %>
    </div>
    <div data-my-data="idolList">
        <%- JSON.stringify(idolList) %>
    </div>
    <div data-my-data="blogList">
        <%- JSON.stringify(blogList) %>
    </div>

    <!-- 引入 xss -->
    <script src="https://rawgit.com/leizongmin/js-xss/master/dist/xss.js"></script>

    <!-- JQ AXIOS BS5 -->
    <%- include('wedgets/cdn') %>
        <!-- 滾輪 -->
        <script src="https://unpkg.com/better-scroll@latest/dist/better-scroll.min.js"></script>
        <script type="module" defer>
            import initData from '/js/initData.js'
            import initNavbar from '/js/navbar.js'
            //  init
            try {
                //  讀取畫面，遮蔽效果
                loading()
                let pageData = new initData()
                await pageData.init(initNavbar)
                await initPage(await pageData.check())
                //  讀取完成，取消遮蔽
                await loadEnd()
            } catch (err) {
                console.log('@ init 發生錯誤 => ', err)
            }

            //  initPage
            async function initPage(data) {
                //  public Var
                let pageData = data
                let { currentUser, me = {}, fansList } = pageData
                //  存放 文章列表分頁 的數據
                window.render = { blog: { show: { html: [], curInd: 0 }, hidden: { html: [], curInd: 0 } } }
                let isSelf = currentUser.id === me.id
                //  追蹤鈕
                let $btn_follow = $('#follow')
                //  取消追蹤鈕
                let $btn_cancelFollow = $('#cancelFollow')
                initScroll()
                function initScroll() {

                    // console.log('重置')
                    window._iscroll = {}

                    // 調整粉絲、追蹤列表
                    for (let list of ['#fansList', '#idolList']) {
                        // console.log('go')
                        // let $div = $(`${list}`)
                        // let $items = $(`${list} > ul li`)
                        // if (!$items.length) {
                        //     continue
                        // }
                        // console.log('gogo')
                        // let div_w = $div.first().outerWidth()
                        // let ul_w = $(`${list} > ul`).first().outerWidth()
                        // // let items_w = $items.first().outerWidth(true) * $items.length
                        // console.log(div_w, ul_w)
                        // if (div_w >= ul_w) {
                        //     continue
                        // }
                        // console.log('gogogo')
                        // // $ul.width(items_w)
                        // console.log(document.querySelector(list))
                        window._iscroll[list] = BetterScroll.createBScroll(document.querySelector(list), {
                            scrollX: true,
                            scrollY: false,
                            mouseWheel: true
                        })
                    }
                }
                // window.onresize = function(){
                //     console.log('重置')
                //     for (let list of ['#fansList', '#idolList']) {
                //         window._iscroll[list].refresh()
                //     }
                // }

                //  UI
                if (!isSelf) {  //  非自己的頁面
                    //  判端是否為自己的偶像，顯示追蹤/退追鈕
                    let isMyIdol = fansList.some((fans) => fans.id === me.id)
                    $btn_cancelFollow.toggleClass('my-noshow', !isMyIdol)
                    $btn_follow.toggleClass('my-noshow', isMyIdol)
                } else {  //  自己的頁面
                    //  顯示建立新文章btn
                    $('#newBlog').removeClass('my-noshow')
                    //  顯示編輯文章title
                    $('[data-my-blog-key=hidden]').removeClass('my-noshow')
                    //  隱藏文章編輯/刪除功能
                    $('.btn-blog-edit').removeClass('my-noshow')
                }

                //  event listener
                if (isSelf) {
                    //  綁定創建文章功能
                    $('#sendBlogTitle').click(handle_createBlog)
                    //  為刪除文章btn綁定handle
                    $('[data-my-remove-blog]').click(handle_removeBlog)
                    $('[data-my-remove-blogs]').click(handle_removeBlogs)
                }
                //  綁定追蹤/退追功能
                $btn_follow.click(handle_follow(true))
                $btn_cancelFollow.click(handle_follow(false))
                //  文章列表 的 頁碼，綁定翻頁功能
                $('[data-my-key].page-link').on('click', renderBlogList)
                //  文章列表 的 上下頁，綁定翻頁功能
                $('[data-my-way].page-link').on('click', renderBlogList)

                //  handle => 創建 blog
                async function handle_createBlog(e) {
                    let title = getBlogTitle($('#blogTitle').val())
                    if (!title) {
                        alert('標題不能為空')
                        return
                    }
                    loading()
                    const {
                        data: {
                            errno, data, msg
                        }
                    } = await axios.post('/api/blog', { title })
                    await loadEnd()
                    if (!errno) {
                        alert('BLOG創立完成')
                        location.href = `/blog/edit/${data.id}`
                    } else {
                        alert(`BLOG創立失敗 => ${msg}`)
                    }

                    //  取title值
                    function getBlogTitle(value) {
                        let val = value.trim()
                        if (!val.length) {
                            return false
                        }
                        return filterXSS(value)
                    }
                }
                //  刪除當前頁碼的所有文章
                async function handle_removeBlogs(e) {
                    //  取得文章列表container
                    let $blogList = $(e.target).parents('[data-my-blog-key]')
                    //  取得當前文章列表的移除鈕
                    let $children = [...$blogList.find('[data-my-remove-blog]')]
                    //  取得所有移除鈕上的文章id
                    let listOfBlogId = $children.reduce((init, cur) => {
                        init.push($(cur).data('my-remove-blog'))
                        return init
                    }, [])
                    removeBlog(listOfBlogId)
                    return
                }
                //  刪除單篇文章功能
                async function handle_removeBlog(e) {
                    if (!confirm('真的要刪掉?')) {
                        return
                    }
                    //  刪除鈕
                    let $target = $(e.target)
                    //  要被刪除的文章id
                    let id = $target.data('my-remove-blog')
                    //  送出刪除命令
                    await removeBlog(id)
                    return
                }
                //  渲染文章列表
                function renderBlogList(e) {
                    e.preventDefault()
                    //  觸發handle的el
                    let $target = $(e.target)

                    //  文章列表type
                    let blogKey = $target.parents('div.blogList').data('my-blog-key')
                    //  文章列表的ul
                    let $targetUl = $(`[data-my-blog-key=${blogKey}] ul.list-group`)
                    //  當前列表存放在window.render的htmlStr
                    let data_renderOfBlogKey = window.render.blog[blogKey]
                    //  當前列表存放在window.data的數據
                    let data_blogList = pageData.blogList[blogKey]
                    //  當前頁碼(從0開始)
                    let curInd = data_renderOfBlogKey.curInd
                    //  目標頁碼
                    let tarInd = getTargetPage()

                    //  從 window.render 取得當前列表當前頁的數據
                    let data_curList = data_renderOfBlogKey.html[curInd]
                    if (!data_curList) {   //若無值
                        //  將當前頁 htmlStr 存入 window.render
                        data_renderOfBlogKey.html[curInd] = $targetUl.html()
                    }

                    //  從 window.render 取得當前列表目標頁的數據
                    let data_tarList = data_renderOfBlogKey.html[tarInd]
                    if (!data_tarList) {    //若沒有
                        //  創建 目標頁 htmlStr
                        let htmlStr = data_blogList[tarInd].reduce((init, { id, title }) => {
                            return init += templateCreator_BlogList(id, title)
                        }, '')
                        //  存入 window.render
                        data_renderOfBlogKey.html[tarInd] = htmlStr
                    }

                    //  更新頁碼條UI
                    UI_page()
                    //  渲染 目標頁 htmlStr
                    $targetUl.html(data_renderOfBlogKey.html[tarInd])
                    //  更新 window.render 頁碼
                    data_renderOfBlogKey.curInd = tarInd
                    //  若是自己的頁面，要為刪除文章鈕綁定功能
                    if (isSelf) {
                        $('[data-my-remove-blog]').click(handle_removeBlog)
                    }

                    //  UI 頁碼條
                    function UI_page() {
                        //  當前文章列表的container
                        let $list = $(`[data-my-blog-key=${blogKey}]`)
                        //  移除 頁碼列 的 .active .my-disable
                        $list.find('li.page-item').removeClass('active my-disabled')
                        //  上一頁btn
                        let $back = $list.find(`li.page-item:first`)
                        //  下一頁btn
                        let $next = $list.find(`li.page-item:last`)
                        //  當前文章列表的最後一頁頁碼
                        let lastPageIndex = pageData.blogList[blogKey].length - 1
                        if (tarInd === 0) {   // 若目標頁碼為0(第一頁)
                            //  上一頁 禁按
                            $back.addClass('my-disabled')
                        } else if (tarInd === lastPageIndex) { //  //  若目標頁碼為最後一頁
                            //  下一頁 禁按
                            $next.addClass('my-disabled')
                        }
                        //  目標頁碼 btn 的 li
                        let $tarPage = $list.find(`a.page-link[data-my-ind=${tarInd}]`).parent()
                        //  顯示為當前頁，並禁止點擊
                        $tarPage.addClass('active my-disabled')
                    }

                    //  創建文章列表 htmlStr
                    function templateCreator_BlogList(id, title) {
                        let blogEdit = isSelf ? `
                            <div class="btn-blog-edit">
                                <a class='btn btn-outline-primary btn-sm' href="/blog/edit/${id}">編輯</a>
                                <a class='btn btn-outline-primary btn-sm' data-my-remove-blog="${id}">刪除</a>
                            </div>` : ''

                        return `                    
                        <li class="list-group-item list-group-item-action list-group-item-info d-flex align-items-center justify-content-between">
                            <div>
                                <a class="stretched-link" href="/blog/${id}">${title}</a>
                            </div>
                            ${blogEdit}
                        </li>
                    `
                    }
                    //  取得目標頁碼
                    function getTargetPage() {
                        //  判斷handle是 頁碼 或 上下頁 觸發
                        let typeOfTarget = $target.attr('data-my-ind') ? 'page' : 'dir'
                        //  取得目表頁碼
                        if (typeOfTarget === 'page') {   // 若el是頁碼
                            //  目標頁碼 從 el[data-my-ind] 取得
                            return $target.data('my-ind')
                        } else if (typeOfTarget === 'dir') {   //若el是上下頁
                            //  目標頁碼 以 計算方式 取得
                            return $target.data('my-way') === 'next' ? curInd + 1 : curInd - 1
                        }
                    }

                }
                //  handle 追蹤功能
                function handle_follow(toFollow) {
                    let { fansList, me } = pageData
                    //  若未登入，跳轉到登入頁
                    if (!me) {
                        return () => {
                            console.log(location.pathname)
                            alert('請先登入')
                            location.href = `/login?from=${location.pathname}`
                        }
                    }

                    let api = toFollow ? '/api/user/follow' : '/api/user/cancelFollow'

                    function UI_follow() {
                        alert('已追蹤')
                        //  更新 window.data 追蹤名單
                        fansList.unshift(me)
                        //  生成 粉絲htmlStr
                        let htmlStr = `
                        <li class="card follow-box m-1" data-fans-id="${me.id}">
                            <img src="${me.avatar}" class="card-img-top" alt="">
                            <div class="card-body text-center">
                                <a href="/other/${me.id}" class="stretched-link">${me.nickname}</a>
                            </div>
                        </li>
                        `
                        //  在粉絲列表中插入 粉絲htmlStr
                        $(`ul#fansList`).prepend(htmlStr)
                    }
                    function UI_cancelFollow() {
                        alert('已退追')
                        //  更新 window.data 追蹤名單
                        fansList.splice(fansList.indexOf(me.id), 1)
                        //  同步 頁面的粉絲列表
                        $(`li[data-fans-id='${me.id}']`).remove()
                    }
                    let UI_feedback = toFollow ? UI_follow : UI_cancelFollow

                    return async (e) => {
                        let id = pageData.currentUser.id
                        loading()
                        const {
                            data: {
                                errno, data, msg
                            }
                        } = await axios.post(api, { id })
                        loadEnd()
                        await delay((errno, msg) => {
                            if (!errno) {
                                UI_feedback()
                                $btn_follow.toggle()
                                $btn_cancelFollow.toggle()
                            } else {
                                alert('操作發生錯誤')
                                console.log(msg)
                            }
                        })
                    }
                }

                //  utils -----
                //  axios 刪除文章
                async function removeBlog(blogList) {
                    //  送出刪除命令
                    loading()
                    const {
                        data: {
                            errno, data, msg
                        }
                    } = await axios.delete('/api/blog', { data: { id: blogList } })
                    loadEnd()
                    await delay((errno, msg) => {
                        if (!errno) {
                            alert('已成功刪除該頁文章')
                            location.href = '/self' //  刷新頁面
                        } else if (errno === 501) {   //  代表未登入
                            location.href = '/login'
                        } else {  //  刪除失敗
                            alert(msg)
                        }
                    }
                    )
                }
            }

            //  utils
            //  讀取畫面，遮蔽效果
            function loading() {
                $('#backdrop').addClass('my-show')
                $('input').attr('disabled', true)
            }
            //  讀取完成，取消遮蔽
            function loadEnd() {
                $('#backdrop').removeClass('my-show')
                $('input').removeAttr('disabled')
                // return new Promise((resolve) => setTimeout(resolve , 200) )
            }

            function delay(fn) {
                return new Promise((resolve) => setTimeout(() => {
                    fn()
                    resolve()
                }, 200))
            }

        </script>
        </body>

        </html>