<% let _album = album[status] %>
<% let blogList = _album.list %>
<% let blogCount = _album.count %>
<% let pageCount = Math.ceil(blogCount / pagination.BLOG_COUNT) %>
<% let paginationCount = Math.ceil(pageCount / pagination.PAGE_COUNT) %>

<div class="blogList card bg-light" data-status="<%= status %>">
  <div class="card-header">
    <h5><%= status === "public" ? "公開" : "編輯中" %>的文章相簿</h3>
  </div>
  <% if(blogCount){ %>
  <ul>
    <% blogList.forEach(( blog, index ) => { %>
    <% let curPage = Math.ceil( (index + 1) / pagination.BLOG_COUNT) %>

    <% let ul_start_tag = index % pagination.BLOG_COUNT === 0 %>
    <% let ul_close_tag = (index + 1) % pagination.BLOG_COUNT === 0 || index + 1 === blogCount %>

    <% if (ul_start_tag) { %>
    <li class="fade <%= index ? "" : "show" %>" data-page="<%= curPage %>" style="<%= index ? "display: none" : ""%>">
      <ul class="list-group list-group-flush">
        <% } %>
        <li class="list-group-item list-group-item-info list-group-item-action d-flex align-items-center justify-content-between">
          <div class="a-truncate me-3">
            <a href="/album/<%= blog.id %>"><%= blog.title %></a>
          </div>
          <div class="text-truncate">
            <span class="timestamp"><%= status === "public" ? '發布時間' : '上一次編輯時間' %><%= blog.time %></span>
          </div>
        </li>
        <!-- 假使來到最後一個blog，判斷是否需要填補item -->
        <% if (index + 1 === blogCount ) { %>
        <% let n = pagination.BLOG_COUNT - ((index + 1) % pagination.BLOG_COUNT) %>
        <% for( let i = n; pagination.BLOG_COUNT > i; i++ ) { %>
        <li class="list-group-item list-group-item-info">
          <a href="#" class="pe-none invisible"></a>
        </li>
        <% } %>
        <% } %>
        <% if(ul_close_tag){ %>
      </ul>
    </li>
    <% } %>

    <% }) %>
  </ul>


  <% if (pageCount > 1) { %>
  <nav aria-label="navigation">
    <ul class="pagination">
      <% if (paginationCount > 1) { %>
      <li class="page-item">
        <a class="page-link pe-none" href="#" data-<%= G_PAGE.DATASET.KEY.PAGE_TURN %>="<%= G_PAGE.DATASET.VALUE.PREVIOUS_PAGINATION %>">&#10913;</a>
      </li>
      <% } %>

      <li class="page-item">
        <a class="page-link pe-none" href="#" data-<%= G_PAGE.DATASET.KEY.PAGE_TURN %>="<%= G_PAGE.DATASET.VALUE.PREVIOUS_PAGE %>">&#60;</a>
      </li>
      <% for( let page = 1; pageCount >= page; page++ ){ %>

      <% let curScopeCount = Math.ceil(page / pagination.PAGE_COUNT) %>
      <% let ul_start_tag = page % pagination.PAGE_COUNT === 1 %>
      <% let ul_close_tag = !(page % pagination.PAGE_COUNT) || page === pageCount %>

      <% if(ul_start_tag){ %>
      <ul class="pagination" data-<%= G_PAGE.DATASET.KEY.PAGINATION_NUM %>="<%= curScopeCount %>" style=<%= curScopeCount > 1 ? "display:none" : ''%>>
        <% } %>
        <li class="page-item <%= page === 1 ? 'active' : '' %>">
          <a class="page-link <%= page === 1 ? "pe-none" : "" %>" href="#" data-<%= G_PAGE.DATASET.KEY.PAGE_TURN %>="<%= page %>">
            <%= page %>
          </a>
        </li>
        <% if( ul_close_tag){ %>
      </ul>
      <% } %>
      <% } %>

      <li class="page-item">
        <a href="#" data-<%= G_PAGE.DATASET.KEY.PAGE_TURN %>="<%= G_PAGE.DATASET.VALUE.NEXT_PAGE %>" class="page-link">&#62;</a>
      </li>

      <% if (paginationCount > 1) { %>
      <li class="page-item">
        <a href="#" data-<%= G_PAGE.DATASET.KEY.PAGE_TURN %>="<%= G_PAGE.DATASET.VALUE.NEXT_PAGINATION %>" class="page-link">&#10914;</a>
      </li>
      <% } %>
    </ul>
  </nav>
  <% } %>


  <% } else { %>
  <p class="p-3">沒有相簿</p>
  <% } %>

</div>