<!-- 主導覽： NAV_CSS + NAV第一層template + backdrop Ele -->
<%- include('../../wedgets/header.ejs') %>

<body>
  <!-- 視窗遮蔽 -->
  <%- include('../../wedgets/pageLoading.ejs') %>
  <!-- NAVBAR -->
  <%- include('../../wedgets/navbar.ejs') %>
  <!-- 數據讀取提示 -->
  <main style="display: none;">
    <!-- 註冊/登入 互動卡片-->
    <div class="card w-50 mx-auto">
      <!-- 卡片頭部 -->
      <div class="card-header">
        <!-- 頭部導行列-->
        <ul class="card-header-tabs nav nav-tabs">
          <!-- 頭部導行項-->
          <li class="nav-item">
            <a class="nav-link <%= active === 'register' ? `active` : `` %>" href="#" data-bs-toggle='tab' data-bs-target='#register-card' role="tab" aria-controls="register" aria-selected="true">註冊</a>
          </li>
          <li class="nav-item">
            <a class="nav-link <%= active === 'login'  ? `active` : `` %>" href="#" data-bs-toggle='tab' data-bs-target='#login-card' role="tab" aria-controls="login" aria-selected="false">登入</a>
          </li>
        </ul>
      </div>
      <!-- 卡片主體 -->
      <div class="card-body tab-content">
        <!-- REGISTER PANE -->
        <div class="tab-pane fade <%= active === --CONS.PAGES.REGISTER_LOGIN.ID.REGISTER_FORM-- ? `show active` : `` %>" role="tabpanel" aria-labelledby="<%= CONS.PAGES.REGISTER_LOGIN.ID.REGISTER_FORM %>-tab" id="<%= CONS.PAGES.REGISTER_LOGIN.ID.REGISTER_FORM %>-card">
          <form id=<%= CONS.PAGES.REGISTER_LOGIN.ID.REGISTER_FORM %> data-my-type="register" class="row" autocomplete="do-not-autofill">
            <div class="col-8 mx-auto">
              <div class="mb-3">
                <label for="email" class="form-label">信箱</label>
                <input type="email" class="form-control" name="email" aria-describedby="email_help" autocomplete="off" required>
                <div>&nbsp;</div>
              </div>
              <div class="mb-3">
                <label for="input_password" class="form-label">密碼</label>
                <input type="password" class="form-control" name="password" data-retry='yes' autocomplete="new-password" required>
                <div>&nbsp;</div>
              </div>
              <div class="mb-3">
                <label for="input_check_password" class="form-label">密碼確認</label>
                <input type="password" class="form-control" name='password_again' autocomplete="off">
                <div>&nbsp;</div>
              </div>
              <button type="submit" class="btn btn-primary" disabled>送出</button>
            </div>
          </form>
        </div>
        <!-- LOGIN PANE -->
        <div class="tab-pane fade <%= active === 'login'  ? `show active` : ``%>" id="login-card" role="tabpanel" aria-labelledby="login-tab">
          <form id=<%= CONS.PAGES.REGISTER_LOGIN.ID.LOGIN_FORM %> data-my-type="login" class="row" autocomplete="do-not-autofill">
            <div class="col-8 mx-auto">
              <div class="mb-3">
                <label for="email" class="form-label">信箱</label>
                <input type="email" class="form-control" name="email" data-form-id='#form_login' autocomplete="off" aria-describedby="email_help" required>
                <div>&nbsp;</div>
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">密碼</label>
                <input type="password" class="form-control" name="password" data-form-id='#form_login' autocomplete="do-not-autofill" required>
                <div>&nbsp;</div>
              </div>
              <button type="submit" class="btn btn-primary" disabled>送出</button>

            </div>
          </form>
        </div>
      </div>
    </div>
  </main>
  <%- include('../../wedgets/cdn') %>
</body>

</html>