<% let G_CONST = JSON.parse(--CONS.PAGE.REGISTER_LOGIN--) %>
<!-- 主導覽： NAV_CSS + NAV第一層template + backdrop Ele -->
<%- include('../../wedgets/header.ejs') %>

<body>
  <!-- 視窗遮蔽 -->
  <%- include('../../wedgets/pageLoading.ejs') %>
  <!-- NAVBAR -->
  <%- include('../../wedgets/navbar.ejs') %>
  <!-- 數據讀取提示 -->
  <main style="display: none;">
    <!-- 註冊/登入 互動卡片-->
    <div class="card w-50 mx-auto">
      <!-- 卡片頭部 -->
      <div class="card-header">
        <!-- 頭部導行列-->
        <ul class="card-header-tabs nav nav-tabs">
          <!-- 頭部導行項-->
          <% for( let type in G_CONST.ID ){ %>
          <% let form_id = G_CONST.ID[type] %>
          <% let tab_txt = form_id === G_CONST.ID.REGISTER_FORM ? "註冊" : "登入" %>
          <li class="nav-item">
            <a class="nav-link <%= active === form_id ? `active` : `` %>" href="#" data-bs-toggle='tab' data-bs-target='#<%= form_id %>-card' role="tab" aria-controls=<%= form_id %> aria-selected="true"><%= tab_txt %></a>
          </li>
          <% } %>
        </ul>
      </div>
      <!-- 卡片主體 -->
      <div class="card-body tab-content">
        <!-- REGISTER PANE -->

        <% for( let type in G_CONST.ID ){ %>
        <% let form_id = G_CONST.ID[type] %>
        <% if(form_id === G_CONST.ID.REGISTER_FORM ){ %>
        <%- include('components/pane-register') %>
        <% } else if (form_id === G_CONST.ID.LOGIN_FORM ){ %>
        <%- include('components/pane-login') %>
        <% } %>
        <% } %>
      </div>
    </div>
  </main>
  <%- include('../../wedgets/cdn') %>
</body>

</html>