<%% let G_DATA = JSON.parse('{"STATUS":{"PUBLIC":"public","PRIVATE":"private"},"ORGANIZED":{"TARGET_PROP":"show","TIME":{"POSITIVE":"showAt","NEGATIVE":"updatedAt"},"TYPE":{"POSITIVE":"show","NEGATIVE":"hidden"}},"PAGINATION":{"BLOG_COUNT":5,"PAGE_COUNT":2},"EDITOR":{"HTML_MAX_LENGTH":65535,"HTML_MIN_LENGTH":1},"TIME_FORMAT":"YYYY/MM/DD HH:mm:ss"}') %>
<%% let G_PAGE = JSON.parse('{"API":{"FOLLOW":"/api/user/follow","CANCEL_FOLLOW":"/api/user/cancelFollow","CREATE_BLOG":"/api/blog","REMOVE_BLOGS":"/api/blog","GET_BLOG_LIST":"/api/blog/list","EDIT_BLOG":"/blog/edit"},"SELECTOR":{"PAGE_NUM_LINK":".pagination .pagination .page-link"},"ID":{"NEW_BLOG_TITLE":"new_blog_title","NEW_BLOG":"new_blog","FANS_LIST":"fansList","IDOL_LIST":"idolList","FOLLOW":"follow","CANCEL_FOLLOW":"cancelFollow"},"DATASET":{"KEY":{"BLOG_STATUS":"status","PAGE_TURN":"turn","PAGE_NUM":"page","PAGINATION_NUM":"pagination","REMOVE_BLOG":"remove-blog","BLOG_ID":"blog-id","USER_ID":"user-id"},"VALUE":{"NEXT_PAGE":"next-page","PREVIOUS_PAGE":"previous-page","NEXT_PAGINATION":"next-pagination","PREVIOUS_PAGINATION":"previous-pagination","REMOVE_BLOG_ITEM":"item","REMOVE_BLOG_LIST":"list"}}}') %>
<!-- 主導覽： NAV_CSS + NAV第一層template + backdrop Ele -->
<%- include('../../wedgets/header.ejs') %>

<body>
  <%- include('../../wedgets/pageLoading.ejs') %>
  <%- include('../../wedgets/navbar.ejs') %>
  <!-- MAIN -->
  <main class="container-md" style="display: none;">
    <h1><a href="/other/<%%=author.id%>"><%%=author.nickname%></a>的相簿列表</h1>
    <%% for( let status in album){ %>
    <div class="box-albumList">
      <h3><%%= status === "public" ? "公開" : "未公開" %>的文章相簿</h3>
      <%% if(album[status].count){ %>
      <ul class="list-group">
        <%% album[status].list.forEach( ({ id, title, time }) => { %>
        <li class="list-group-item">
          <a href="/album/<%%= id %>"><%%= title %></a>
          <span>文章公開於 <%%= time %></span>
        </li>
        <%% }) %>
      </ul>
      <%% let pageCount = Math.ceil(album[status].count / pagination.BLOG_COUNT) %>
      <%% let scopeCount = Math.ceil(pageCount / pagination.PAGE_COUNT) %>
      <%% if (pageCount > 1) { %>
      <nav aria-label="navigation">
        <ul class="pagination">
          <%% if (scopeCount > 1) { %>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">
                ← </span>
            </a>
          </li>
          <%% } %>
          <li class="page-item">
            <a class="page-link pe-none" href="#" data-<%%= G_PAGE.DATASET.KEY.PAGE_TURN %>="<%%= G_PAGE.DATASET.VALUE.PREVIOUS_PAGE %>">Previous</a>
          </li>
          <%% for( let page = 1; pageCount >= page; page++ ){ %>
          <%% if((page % pagination.PAGE_COUNT)===1){ %>
          <%% let curScopeCount = Math.ceil(page / pagination.PAGE_COUNT) %>
          <ul class="pagination" data-<%%= G_PAGE.DATASET.KEY.PAGINATION_NUM %>="<%%= curScopeCount %>" <%% if(curScopeCount > 1){ %> style="display: none;" <%% } %>>
            <%% } %>
            <li class="page-item <%%= page === 1 ? 'active' : '' %>">
              <a class="page-link" href="#" data-<%%= G_PAGE.DATASET.KEY.PAGE_TURN %>="<%%= page %>">
                <%%= page %>
              </a>
            </li>
            <%% if( !(page % pagination.PAGE_COUNT) || page === pageCount ){ %>
          </ul>
          <%% } %>
          <%% } %>
          <li class="page-item">
            <a href="#" data-<%%= G_PAGE.DATASET.KEY.PAGE_TURN %>="<%%= G_PAGE.DATASET.VALUE.NEXT_PAGE %>" class="page-link <%%= pageCount < 2 ? "pe-none" : '' %>">Next</a>
          </li>
          <%% if (album[status].length > pagination.PAGE_COUNT) { %>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">→</span>
            </a>
          </li>
          <%% } %>
        </ul>
      </nav>

      <%% } else { %>
      <p>沒有相簿</p>
      <%% } %>
    </div>
    <%% } %>
    <%% } %>
    <!-- EJS DATA -->
    <%- include('../../wedgets/ejs-data-list') %>
  </main>
  <!-- FOOTER -->
  <%- include('../../wedgets/footer.ejs') %>
  <%- include('../../wedgets/cdn') %>
</body>

</html>