<div data-my-data="me">
    <%= JSON.stringify(me) %>
</div>
<div data-my-data="newsList">
    <%= JSON.stringify(newsList) %>
</div>
<div data-my-data="currentUser">
    <%= JSON.stringify(currentUser) %>
</div>
<div data-my-data="idolList">
    <%= JSON.stringify(idolList) %>
</div>
<div data-my-data="fansList">
    <%= JSON.stringify(fansList) %>
</div>

<script defer src="/js/navbar/logout.js"></script>
<script defer src="/js/navbar/news.js"></script>