<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
    <div class="container-fluid flex-nowrap">
        <a class="navbar-brand" href="/square">KOA-BLOG</a>

        <ul class="nav nav-pills ms-auto me-3 order-md-2">
            <% if (!logging) { %>
            <li class="nav-item">
                <a class="nav-link nav-tab <%= active === 'register' ? `active` : `` %>" href="/register"
                    data-my-tab="#register">註冊</a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-tab <%= active === 'login' ? `active` : `` %>" href="/login"
                    data-my-tab="#login">登入</a>
            </li>
            <% } else { %>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                    data-bs-auto-close="outside" aria-expanded="false" id="news_confirm"
                    data-confirm_time="<%= confirm_time %>">
                    通知
                    <span class="position-absolute translate-middle badge rounded-pill bg-danger news-count <%= count ? 'my-show' : 'my-noshow' %> ">
                        <%= count %>
                    </span>
                </a>
                <!-- 通知列表 -->
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown" id="newList">
                    <% if (news.length) { %>
                    <% if (count) { %>
                    <!-- 新通知標題 -->
                    <li class="dropdown-item">新通知</li>
                    <% } %>
                    <% news.forEach(({type, data}) => { %>
                    <!-- 新通知 of fans -->
                    <% if (!data.confirm && type === 'fans') { %>
                    <li class="dropdown-item position-relative news-item">
                        <a href="/other/<%= data.id %>" class="stretched-link">
                            <div>
                                <span><%= data.nickname %>追蹤你囉！</span><br>
                                <span><%= data.showAt %> </span>
                            </div>
                        </a>
                    </li>
                    <li data-my-tag="new-news-hr">
                        <hr class="dropdown-divider">
                    </li>
                    <!-- 新通知 of blogs -->
                    <% } else if (!data.confirm && type === 'blogNews') { %>
                    <li class="dropdown-item  position-relative news-item">
                        <a href="/blog/<%= data.id %>" class="stretched-link">
                            <div>
                                <span><%= data.author.nickname %> 有新文章唷！</span><br>
                                <span>- <%= data.title %> -</span><br>
                                <span><%= data.showAt %> </span>
                            </div>
                        </a>
                    </li>
                    <li data-my-tag="new-news-hr">
                        <hr class="dropdown-divider">
                    </li>
                    <% } %>
                    <% }) %>
                    <li class="dropdown-item">先前的通知</li>
                    <!-- 舊的通知 -->
                    <% news.forEach(({type, data}) => { %>
                    <!-- 舊通知 of fans -->
                    <% if (data.confirm && type === 'fans') { %>
                    <li class="dropdown-item position-relative news-item">
                        <a href="/other/<%= data.id %>" class="stretched-link">
                            <div>
                                <span><%= data.nickname %>追蹤你囉！</span><br>
                                <span><%= data.showAt %> </span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider" data-my-tag="new-news-hr">
                    </li>
                    <!-- 舊通知 of blogs -->
                    <% } else if (data.confirm && type === 'blogNews') { %>
                    <li class="dropdown-item  position-relative news-item">
                        <a href="/blog/<%= data.id %>" class="stretched-link">
                            <div>
                                <span><%= data.author.nickname %> 有新文章唷！</span><br>
                                <span>- <%= data.title %> -</span><br>
                                <span><%= data.showAt %> </span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider" data-my-tag="new-news-hr">
                    </li>
                    <% } %>
                    <% }) %>
                    <!-- 讀取更多 -->
                    <li class="<%= more ? 'my-show' : 'my-noshow' %>" id="more_news">
                        <button class="dropdown-item link-primary"
                            type="button" data-api="/api/user/moreNews?index=<%= index %>">
                            讀取更多</button>
                    </li>
                    <!-- 沒有任何通知-->
                    <li class="dropdown-item <%= !more ? 'my-show' : 'my-noshow' %>" id="nonews">
                        <span>沒有更多了</span>
                    </li>
                    <% } else { %>
                    <li class="dropdown-item">
                        <span>沒有新通知</span>
                    </li>
                    <% } %>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link me-3 <%= active === 'setting' ? `active` : `` %>" href="/setting">個人設置</a>
            </li>
            <li class="nav-item">
                <a id='logout' class="btn btn-outline-success text-nowrap" href="/api/user/logout">登出</a>
            </li>
            <% } %>
        </ul>
        <!-- 收合鈕 navbar-toggler -->
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- 收合內容 navbar-collapse -->
        <div class="offcanvas offcanvas-start order-md-1" id="offcanvasNavbar">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>

            <!-- 表單列 -->
            <div class="offcanvas-body">

                <ul class="navbar-nav w-100">
                    <!-- 表單項 -->
                    <li class="nav-item">
                        <a class="nav-link" href="/square">Home</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>