<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
    data-bs-auto-close="outside" aria-expanded="false" data-my-first-render='<%= firstRender %>'
    data-my-check-time="<%= checkTime.time %>" data-my-check-type="<%= checkTime.type %>" data-my-check-id="<%= checkTime.id %>" data-my-index="<%= index %> ">
    通知
    <span
        class="position-absolute translate-middle badge rounded-pill bg-danger news-count <%= count ? 'my-show' : 'my-noshow' %> ">
        <%= count %>
    </span>
</a>
<!-- 通知列表 -->
<ul class="dropdown-menu" aria-labelledby="navbarDropdown" id="newList">

    <!-- 新通知標題 -->
    <li class="dropdown-item <%= news.unconfirm.length ? 'my-show' : 'my-noshow' %>" id="new-news-title">新通知</li>

    <% if (news.unconfirm.length) { %>

    <%- include('./new-forEach', { list: news.unconfirm })  %> 

    <% } %>

    <!-- 先前通知的標頭 -->
    <li class="dropdown-item <%= news.confirm.length ? 'my-show' : 'my-noshow' %>" id="old-news-title"></li>">先前的通知</li>

    <% if (news.confirm.length) { %>

    <%- include('./new-forEach', { list: news.confirm })  %> 

    <% } %>
    
    <!-- 讀取更多 -->
    <li class="<%= more ? 'my-show' : 'my-noshow' %>" id="more_news">
        <button class="dropdown-item link-primary" type="button">
            讀取更多
        </button>
    </li>

    <!-- 沒有任何通知-->
    <li class="dropdown-item <%= !more ? 'my-show' : 'my-noshow' %>" id="nonews">
        <span>沒有新通知</span>
    </li>

    <li>
        <hr class="dropdown-divider">
    </li>
</ul>