<!-- 主導覽： NAV_CSS + NAV第一層template + backdrop Ele -->
<%- include('wedgets/header.ejs') %>

<body>
  <%- include('wedgets/pageLoading.ejs') %>
  <%- include('wedgets/navbar.ejs') %>
  <!-- MAIN -->
  <main class="container-md" style="display: none;">
    <!-- 使用者資訊 + 文章列表 -->
    <div class="row">
      <div class="col-md-8">
        <!-- User container -->
        <div class="userInfo">
          <div class="card">
            <div class="row align-items-center justify-content-center">
              <div class="col-sm-4">
                <div class="avatar-box">
                  <div class="ratio ratio-1x1">
                    <img src="<%= currentUser.avatar %>" class="img-fluid" alt="...">
                  </div>
                  <% if(!isSelf){ %>
                  <button data-action="cancelFollow" type="button" class="btn btn-danger btn-sm follow">取消追蹤</button>
                  <button data-action="follow" type="button" class="btn btn-success btn-sm follow">追蹤</button>
                  <% } %>
                </div>

              </div>
              <div class="col-sm-8">
                <div class="card-body">
                  <h5 class="card-title">主要資料</h5>
                  <hr>
                  <p>信箱： <%= currentUser.email %>
                  </p>
                  <p>暱稱： <%= currentUser.nickname %>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Blog container -->
        <div class="blogs-container">
          <!-- create Blog Modal -->
          <% if(isSelf){ %>
          <!-- Button for Modal -->
          <button type="button" class="btn btn-primary mb-1" data-bs-toggle="modal" data-bs-target="#new_blog_modal">
            撰寫新文章
          </button>
          <!-- Modal -->
          <div class="modal fade" id="new_blog_modal" tabindex="-1" aria-labelledby="newBlogModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">

                <div class="modal-body">
                  <div class="mb-3">
                    <label for="new_blog_title" class="form-label">文章標題</label>
                    <input type="text" name="title" class="form-control" id="new_blog_title" placeholder="文章標題">
                    <div>&nbsp;</div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消建立文章</button>
                  <button data-action="createBlog" type="button" class="btn btn-primary">建立文章</button>
                </div>
              </div>
            </div>
          </div>
          <% } %>
          <!-- BlogList -->
          <!-- Public BlogList -->
          <% var isPublic = 1 %>
          <%- include('wedgets/blogList-card') %>
          <!-- Private BlogList -->
          <% if (isSelf) { %>
          <% isPublic = 0 %>
          <%- include('wedgets/blogList-card') %>
          <% } %>
        </div>
      </div>
      <hr class="d-md-none">
      <div class="col-md-4">
        <div class="relationShip-container">
          <div class="relationShip-box">
            <h3>粉絲列表</h3>
            <div data-selector="fansList" class="relationShip-list-box">
              <% if(fansList.length) {%>
              <ul>
                <% fansList.forEach(fans=> { %>
                <li class="card" data-fans-id="<%= fans.id %>">
                  <div class="ratio ratio-1x1">
                    <img src="<%= fans.avatar %>" class="card-img-top" alt="">
                  </div>
                  <div class="text-truncate">
                    <a href="/other/<%= fans.id %>" class="stretched-link">
                      <%= fans.nickname %>
                    </a>
                  </div>
                </li>

                <% }) %>
              </ul>
              <% } else { %>
              <p>可憐阿，沒有朋友</p>
              <% } %>
            </div>
          </div>
          <div class="relationShip-box">
            <h3>追蹤列表</h3>
            <div data-selector="idolList" class="relationShip-list-box">
              <% if(idols.length) {%>
              <ul>
                <% idols.forEach(idol=> { %>
                <li class="card" data-idol-id="<%= idol.id %>">
                  <div class="ratio ratio-1x1">
                    <img src="<%= idol.avatar %>" class="card-img-top" alt="">
                  </div>
                  <div class="text-truncate">
                    <a href="/other/<%= idol.id %>" class="stretched-link">
                      <%= idol.nickname %>
                    </a>
                  </div>
                </li>
                <% }) %>
              </ul>
              <% } else { %>
              <p>沒有偶像，你最屌</p>
              <% } %>
            </div>

          </div>
        </div>
      </div>
    </div>
    <!-- EJS -->
    <div style="display: none;">
      <!-- 當前使用者頁面的使用者資料 -->
      <div data-my-data="currentUser">
        <%- JSON.stringify(currentUser) %>
      </div>
      <div data-my-data="fansList">
        <%- JSON.stringify(fansList) %>
      </div>
      <div data-my-data="idols">
        <%- JSON.stringify(idols) %>
      </div>
      <div data-my-data="blogs">
        <%- JSON.stringify(blogs) %>
      </div>
    </div>
  </main>
  <!-- FOOTER -->
  <%- include('wedgets/footer.ejs') %>
  <%- include('wedgets/cdn') %>
</body>

</html>