 <!-- 主導覽： NAV_CSS + NAV第一層template + backdrop Ele -->
 <%- include('wedgets/header.ejs') %>
 <%- include('wedgets/pageLoading.ejs') %>
 <%- include('wedgets/navbar.ejs') %>
 <!-- 斷點提示 -->
 <!-- <div class="d-sm-none position-fixed top-0 start-0 bg-success text-white" style="z-index: 1080;">xs</div>
 <div class="d-md-none position-fixed top-0 end-0 bg-success text-white" style="z-index: 1080;">sm</div>
 <div class="d-lg-none position-fixed bottom-0 start-0 bg-success text-white" style="z-index: 1080;">md</div>
 <div class="d-xl-none position-fixed bottom-0 end-0 bg-success text-white" style="z-index: 1080;">lg</div>
 <div class="d-xxl-none position-fixed bottom-50 end-50 bg-success text-white" style="z-index: 1080;">xl</div> -->
 <!-- MAIN -->
 <main class="container-md main" style="display: none;">
   <div>
     <input type="text" id="title" name="title" class="form-control" value="<%%= blog.id ? blog.title : '' %>">
     <div class="valid-feedback">
       Looks good!
     </div>
     <button id="updateTitle">修改標題</button>
   </div>
   <div id="editor-wrapper">
     <div id="toolbar-container"></div>
     <div id="editor-container"></div>
     <span id="wordCount"></span>

     <label> <input type="checkbox" id="show" name='show' />公開文章</label>
     <%% if (blog.show) { %>
     <p>已於 <%%= blog.showAt %> 發佈</p>
     <%% } else { %>
     <p>最近一次於 <%%= blog.updatedAt %> 編輯</p>
     <%% } %>
     <button id="save">存檔</button>
     <button id="remove">刪除此篇文章</button>
   </div>
   <div style="display: none;">
     <!-- 當前使用者頁面的使用者資料 -->
     <div data-my-data="blog">
       <%%- JSON.stringify(blog) %>
     </div>
   </div>
 </main>
 <!-- FOOTER -->
 <%- include('wedgets/footer.ejs') %>
 <%- include('wedgets/cdn') %>
 
 </body>

 </html>
 
 <!-- 引入 Spark-MD5 -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/spark-md5/3.0.2/spark-md5.min.js"></script>
 <!-- 引入 Ajv -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/ajv/8.11.0/ajv7.min.js" integrity="sha512-NGcX0dMSiOACZ7t7BKTSSoL2vnVKAp5mG+M8gK1vZQGwJtzbLQba1eniSXdez+WfDtcrxBUEo143DV297oAnbw==" crossorigin="anonymous" referrerpolicy="no-referrer">
 </script>
 <!-- 引入 editor css -->
 <link href="https://cdn.jsdelivr.net/npm/@wangeditor/editor@latest/dist/css/style.css" rel="stylesheet">
 <!-- 引入 editor js -->
 <script src="https://cdn.jsdelivr.net/npm/@wangeditor/editor@latest/dist/index.min.js"></script>

 
 </body>

 </html>