<!DOCTYPE html>
<html lang="en">
<!-- 主導覽： NAV_CSS + NAV第一層template + backdrop Ele -->
<%- include('wedgets/header.ejs') %>

<body>
  <%- include('wedgets/pageLoading.ejs') %>
  <%- include('wedgets/navbar.ejs') %>
  <!-- 數據讀取提示 -->
  <%- main %>
  <%- include('register&login.ejs') %>
  <%- include('wedgets/cdn') %>
</body>

</html>