<% let G_CONST = JSON.parse(--CONS.PAGES.BLOG--) %>
<!-- 主導覽： NAV_CSS + NAV第一層template + backdrop Ele -->
<%- include('../../wedgets/header.ejs') %>

<body>
  <%- include('../../wedgets/pageLoading.ejs') %>
  <%- include('../../wedgets/navbar.ejs') %>
  <!-- MAIN -->
  <main class="container-md main" style="display: none;">
    <div>
      <h1>
        <%= blog.title %>
      </h1>
      <div id="<%= G_CONST.ID.BLOG_CONTENT %>"></div>
    </div>
    <% if (blog.showComment) { %>
    <div id="<%= G_CONST.ID.COMMENT_CONTAINER %>">
      <div data-<%= G_CONST.DATASET.KEY.COMMENT_ID %>="0">
        <div class="<%= G_CONST.CLASS.COMMENT_EDITOR_CONTAINER %>"></div>
      </div>
      <div id="<%= G_CONST.ID.COMMENT_LIST_CONTAINER %>">
        <div class="<%= G_CONST.CLASS.COMMENT_LIST %>" data-<%= G_CONST.DATASET.KEY.PID %>="0">
          <% if(blog.comments.length){ %>
            <%- temFn_comment_list({comments: blog.comments, temFn_comment_list, temFn_comment_item, isLogin, me_id}) %>
            <% } %>
        </div>
      </div>
    </div>
    <% } %>
    </div>
    <div>
      <!-- EJS DATA -->
      <%- include('../../wedgets/ejs-data-list') %>
  </main>
  <!-- FOOTER -->
  <%- include('../../wedgets/footer.ejs') %>
  <%- include('../../wedgets/cdn') %>
</body>

</html>