<% let G_CONST = JSON.parse('{"API":{"CREATE_COMMENT":"/api/comment","REMOVE_COMMENT":"/api/comment"},"ID":{"BLOG_CONTENT":"blog-content","COMMENT_CONTAINER":"comment-container","COMMENT_LIST_CONTAINER":"comment-list-container"},"CLASS":{"COMMENT_LIST":"comment-list","COMMENT_EDITOR_CONTAINER":"editor-container"},"DATASET":{"KEY":{"COMMENT_ID":"comment_id","EDITOR_ID":"editor_id","REMOVE_COMMENT":"remove","PID":"pid"}},"REG":{"BLOG_CONTENT_TRIM":{}}}') %>

<% if (isDeleted || !html) { %>
<div>
  <p>此留言已刪除</p>
</div>
<div>
  By<a href="/other/<%= commenter.id %>"><%=commenter.nickname%></a> 於 <%= time %> 刪除
</div>
<% } else { %>
<div>
  <%= html %>
</div>
<div>
  By<a href="/other/<%= commenter.id %>"><%=commenter.nickname%></a> 於 <%=time%> 發佈
  <button>回覆</button>
  <% if( isLogin && me_id === commenter.id ){ %>
  <button data-<%= G_CONST.DATASET.KEY.REMOVE_COMMENT %>="<%=id%>">刪除</button>
  <% } %>
</div>
<% } %>