<% comments.forEach(comment => { %>


    <div class="comment-item">
        <%- comment.html %>
        <a href="/other/<%= comment.user.id %>"><%= comment.user.nickname %> </a>
        <span><%= comment.time %> </span>
        <button class="reply">回覆</button>
        <div class="editor-reply" data-my-pid="<%= comment.id %>">
        </div>
        <div class="comment-list">
        <% if( comment.reply.length) { %>
            <%- include('/wedgets/comment/reply-list', { comments: comment.reply }) %>
        <% } %>
    </div>
</div>


<% }) %>