<%% let G_CONST = JSON.parse('{"API":{"CREATE_COMMENT":"/api/comment","REMOVE_COMMENT":"/api/comment"},"CLASS":{"COMMENT_LIST":"comment-list","COMMENT_EDITOR_CONTAINER":"editor-container","COMMENT_LIST_CONTAINER":"comment-list-container","COMMENT_ITEM_CONTAINER":"comment-item-container","COMMENT_ITEM_CONTENT":"comment-item-content"},"DATASET":{"KEY":{"COMMENT_ID":"comment_id","EDITOR_ID":"editor_id","REMOVE_COMMENT":"remove","PID":"pid"}},"REG":{"BLOG_CONTENT_TRIM":{}}}') %>
<!-- 主導覽： NAV_CSS + NAV第一層template + backdrop Ele -->
<%- include('../../wedgets/header.ejs') %>

<body>
  <%- include('../../wedgets/pageLoading.ejs') %>
  <%- include('../../wedgets/navbar.ejs') %>
  <!-- MAIN -->
  <main class="container-md main" style="display: none;">
    <div>
      <h1>
        <%%= blog.title %>
      </h1>
      <div class="editor-content-view">
        <%%- blog.html %>
      </div>
    </div>
    <%% if (blog.showComment) { %>
    <div class="comment-container">
      <div class="<%%= G_CONST.CLASS.COMMENT_EDITOR_CONTAINER %>"></div>
      <div class="<%%= G_CONST.CLASS.COMMENT_LIST_CONTAINER %>">
        <div class="<%%= G_CONST.CLASS.COMMENT_LIST %>" data-<%%= G_CONST.DATASET.KEY.PID %>="0">
          <%% if(blog.comment.tree){ %>
          <%%- ejs_template.comment.tree({tree: blog.comment.tree, ejs_template, isLogin, me_id}) %>
          <%% } %>
        </div>
      </div>
    </div>
    <%% } %>
    </div>
    <div>
      <!-- EJS DATA -->
      <%- include('../../wedgets/ejs-data-list') %>
  </main>
  <!-- FOOTER -->
  <%- include('../../wedgets/footer.ejs') %>
  <%- include('../../wedgets/cdn') %>
</body>

</html>