<% let G_CONST = JSON.parse(--CONS.PAGE.BLOG_EDIT--) %>

<!-- 主導覽： NAV_CSS + NAV第一層template + backdrop Ele -->
<%- include('../../wedgets/header.ejs') %>

<body>
  <%- include('../../wedgets/pageLoading.ejs') %>
  <%- include('../../wedgets/navbar.ejs') %>
  <!-- MAIN -->
  <main class="container-md main" style="display: none;">
    <div>
      <input type="text" id="<%= G_CONST.ID.TITLE %>" name="title" class="form-control" value="<%= locals.blog.id ? locals.blog.title : '' %>">
      <div class="valid-feedback">
        Looks good!
      </div>
      <button id="<%= G_CONST.ID.UPDATE_TITLE %>" disabled>修改標題</button>
    </div>
    <div id="editor-wrapper">
      <div id="<%= G_CONST.ID.EDITOR_TOOLBAR_CONTAINER %>"></div>
      <div id="<%= G_CONST.ID.EDITOR_CONTAINER %>"></div>
      <span id="<%= G_CONST.ID.BLOG_HTML_STRING_COUNT %>"></span>

      <label> <input type="checkbox" id="<%= G_CONST.ID.STATUS %>" <%= locals.blog.show ? 'checked' : '' %> />公開文章</label>
      <% if (locals.blog.show) { %>
      <p>已於 <%= locals.blog.showAt %> 發佈</p>
      <% } else { %>
      <p>最近一次於 <%= locals.blog.updatedAt %> 編輯</p>
      <% } %>
      <button id="<%= G_CONST.ID.UPDATE_BLOG %>" disabled>存檔</button>
      <button id="<%= G_CONST.ID.REMOVE_BLOG %>">刪除此篇文章</button>
    </div>
    <!-- EJS DATA -->
    <%- include('../../wedgets/ejs-data-list') %>
  </main>
  <!-- FOOTER -->
  <%- include('../../wedgets/footer.ejs') %>
  <%- include('../../wedgets/cdn') %>
</body>

</html>