<% let G_CONST = JSON.parse(--CONS.PAGES.BLOG--) %>
<% comments.forEach(({ id, html, time, commenter, reply, isDeleted,}) => { %>
    <% if (html || reply.length) { %>
    
    <div class="comment-box" data-<%= G_CONST.DATASET.KEY.COMMENT_ID %>="<%= id %>">
    
      <% if (isDeleted || !html) { %>
      <div>
        <p>此留言已刪除</p>
      </div>
      <div>
        By<a href="/other/<%= commenter.id %>"><%=commenter.nickname%></a> 於 <%= time %> 刪除
      </div>
      <% } else { %>
      <div>
        <%= html %>
      </div>
      <div>
        By<a href="/other/<%= commenter.id %>"><%=commenter.nickname%></a> 於 <%=time%> 發佈
        <button>回覆</button>
        <% if( isLogin && me_id === commenter.id ){ %> 
        <button data-<%= G_CONST.DATASET.KEY.REMOVE_COMMENT %>="<%=id%>">刪除</button>
        <% } %>
      </div>
      <% } %>
    
    
    
      <div class="reply-box" data-<%= G_CONST.DATASET.KEY.EDITOR_ID %>="<%=id%>">
        <div class="editor-container"></div>
      </div>
      <div class="comment-list">
        <% if(reply.length){ %>
            <%= temFn({ comments: reply, temFn, isLogin, me_id}) %>
        <% } %>
      </div>
    </div>
    <% } %>
    <% }) %>